[2013-03-01 23:39] pippinsplugins opened #5 "Add search to commissions"
Search by payment ID, recipient, and possibly amount.

[2013-08-19 16:02] pippinsplugins opened #7 "Better vendor reports"
- [x] List products vendor receives commissions for and include sale count / earnings `[edd_commissioned_products]`
- [x] Show a Commissions Overview table `[edd_commissions_overview]`
- [x] Show a graph, filterable by date `[edd_commissions_graph]`

[2014-03-15 01:31] pippinsplugins opened #16 "Allow commissions list table to be filtered by user"
It'd be great if there was a UI option for filtering the commissions list table by a specific user.

The table can already be filtered, but there's no UI for specifying the user.

Also, the total paid / unpaid commissions need to be shown on a per-user basis somewhere.

[2014-08-11 14:01] pippinsplugins opened #20 "Payment Thresholds for Mass Pay"
https://easydigitaldownloads.com/support/topic/threshold-payout/

[2014-10-17 13:35] chriscct7 opened #23 "Renewals should be noted"
As a vendor, right now there is nothing distinguishing a commission from a renewal and a commission from a new sale. This makes it very difficult to tell if when you get a commission lower than expected, if a coupon was used, if its a renewal, or the commission wasn't calculated correctly. We should distinguish renewal commissions better, maybe even their own renewal table, so vendors can keep tra

[2014-12-10 06:19] sdavis2702 opened #25 "Earnings pagination not working in FES dashboard"
This issue starts in the FES repo: https://github.com/chriscct7/edd-fes/issues/527 I'll just paste what Andrew said:

The pagination on the commissions tab doesn't work. When you click to go to a different page it simply reloads the dashboard.

![dbafdaf0-6cdd-11e4-9c5e-b7bbb938ec36](https://cloud.githubusercontent.com/assets/2359131/5371707/fadd4908-8001-11e4-8347-7c8f682c4f5c.png)

Clicking page

[2015-02-28 22:23] chriscct7 opened #32 "Implement Field for FES inside of EDD Commissions"
Right now, FES has to manage and take care of adding the edd commissions field. This is really dumb, because if commissions wants to add an option, like adding the ability for vendors to use bank accounts, FES has to update instead of commissions. With the 2.3 release of FES, fields now use the fields API. This marks a great time for EDD Commissions to take care of managing its own field, like Sim

[2015-02-28 22:32] chriscct7 commented on #32
Here's the starter that I wrote. You'll probably want to edit it a bit, like actually adding validation. We haven't nailed down how we'll do validation, so I'd probably leave that empty for now.

[2015-03-05 04:02] pippinsplugins commented on #32
This is just for the payment email right?

[2015-03-12 04:16] chriscct7 opened #34 "The CSV Commissions Export on [edd_commissions] is broken"
Haven't nailed the cause down yet

[2015-03-12 16:29] pippinsplugins commented on #34
In what way does it break? Is it coming up blank?

[2015-03-12 18:28] cklosowski commented on #34
Yes, please give us a little more to go on...a better description than 'Broken' might lend us to have an idea of what exactly is wrong.

[2015-03-12 20:14] chriscct7 commented on #34
They don't work. Doesn't do anything. Redirects to the home url. I was thinking I would solve it last night. My guess is that the edd_action isn't firing for some reason.

[2015-03-21 16:02] cklosowski opened #35 "Allow time and earnings minimums before commissions are paid"
In certain cases, it would be nice if a product would not start logging commissions until a minimum amount or time is met. For instance you could set a product to pay no commissions until it's sold $1500 or X date. At that point, commissions would then start being logged to the specified user ID.

Could also make this a lifetime, monthly, or annual number as to allow no commissions each year until

[2015-03-21 17:03] chriscct7 commented on #35
Wouldn't it make more sense to not pay commissions until a specific commissions amount is reached or a person, or a time is met? Like don't pay commissions newer than 30 days or vendors with under $x dollars of commissions?

[2015-03-21 17:04] chriscct7 commented on #35
What type of scenario would you see for ", it would be nice if a product would not start logging commissions until a minimum amount or time is met"

[2015-03-23 21:55] pippinsplugins commented on #35
This scenario:

Store funds the development of a product.
Developer earns commissions on product, but only after the product sales enough to earn back the store's investment.

[2015-03-26 02:43] cklosowski commented on #35
what @pippinsplugins said. It's more about terms and conditions of commissions not being earned until a reserve is met.

[2015-04-06 17:51] chriscct7 opened #38 "Revoked commissions should have total revoked row"
To be consistent with the total unpaid and total paid rows, the revoked commissions in eddc_user_commissions()  should have a total revoked commissions row

[2015-04-06 17:51] #25 closed

[2015-05-08 23:25] pippinsplugins opened #39 "Add field for PayPal email in EDD Profile Editor"
We need to add the paypal email field to the EDD profile editor: https://easydigitaldownloads.com/support/topic/commissions-separate-paypal-email-filed-in-profile-editor-shortcode/

[2015-05-18 07:41] christ0ph3r commented on #20
Would love to see this :)

[2015-05-18 18:25] pippinsplugins commented on #34
Got another report of this today. Tracking it down now.

[2015-05-18 18:27] pippinsplugins commented on #34
It's working for me locally.

[2015-05-18 18:29] pippinsplugins commented on #34
It also works fine for me on the EDD live site. Closing as invalid.

[2015-05-18 18:45] chriscct7 commented on #34
This doesn't work in many places. For sure doesn't work when the shortcode is used on the admin and I've seen several sites where this doesn't work on the frontend either. This doesn't work: http://screencloud.net/v/gKb5. There is an underlying problem here, and it almost certainly is that edd_action isn't firing

[2015-05-18 18:46] chriscct7 commented on #34
If you need a simple replication, install FES and generate some commissions for a user and then try to download the CSV using the earnings tab on the vendor dashboard. Both csvs on the frontend and backend are broken, and all they do is echo the shortcode

[2015-05-18 18:47] pippinsplugins commented on #34
That's an FES bug if it doesn't work there. I tested default dashboard and
frontend page. Both work perfectly.

try it yourself out side of FES. If it fails then, re-open.

On Mon, May 18, 2015 at 1:45 PM, Chris Christoff <notifications@github.com>
wrote:

[2015-05-18 18:53] chriscct7 commented on #34
FES simply does an echo of the shortcode. Therefore, if it doesn't work its because its broken in core.

Here's default 2015 theme, no plugins but EDD + comissions active, with just the shortcode on a page. Doesn't work: https://db.tt/1f3Xo86U

[2015-05-18 18:54] chriscct7 commented on #34
It's definitely the ajax handler not firing. There is a bug in EDD's edd_action thing. Its not firing when it should be to pick up the commission export

[2015-05-18 19:00] chriscct7 commented on #34
When this bug was first reported by me, it wasn't even from an FES site. We've gotten several reports on the forums that it doesn't work, many of them on non-FES sites. Most of them seem to come from FES, but as you can see above its not just FES. It just simply doesn't work for 99% of people. Frankly, EDD.com is one of the few places I know of where it works right now, so maybe that's a clue. I t

[2015-05-19 17:01] pippinsplugins commented on #34
I just tested this with FES on the Earnings tab of the vendor dashboard and it worked perfectly.

[2015-05-19 17:02] pippinsplugins commented on #34
[This user](https://easydigitaldownloads.com/support/topic/unable-to-download-paid-commision-csv-file/) is reporting the problem so I'm going to try and log into their site to look at it closer.

[2015-05-23 00:15] christ0ph3r opened #41 "Export Paid Commissions Dropdown Year Selection"
The export paid commissions dropdown shows very old years for a new site.  For example the dropdown starts from 2010 and some sites may be starting in 2015 so it can come off confusing to some sellers.

[2015-06-15 14:55] pippinsplugins opened #42 "Pagination doesn't work properly when viewing commissions of a particular status"
If Commissions are filtered by a particular status, pagination no longer works properly because the pagination counts are based off of commissions of all statuses.

[2015-06-16 05:25] chriscct7 opened #43 "eddc_get_earned_commissions"
There should be a way to get all commissions earned by a vendor (basically like eddc_get_(un)paid_commissions but that gets the latest paid/unpaid commissions for a vendor). IT would be cool if we could get a little point release out that does this as it would prevent the need for FES to implement its own version of this for chriscct7/edd-fes/issues/646

[2015-06-30 22:56] pippinsplugins opened #44 "Update payout file generation to use bulk processing"
The bulk processing in EDD 2.4 lets us reliably generate large payout files without the risk of a server crash.

[2015-06-30 22:57] pippinsplugins commented on #20
We do this in AffiliateWP and it works great.

[2015-06-30 22:58] pippinsplugins opened #45 "Add Commissions tab to Customer view if customer has commissions."

[2015-07-01 03:05] cklosowski commented on #42
Was just coming to log this. Will fix it up after I get the Customer sections done.

[2015-07-01 03:30] cklosowski commented on #45
![image](https://cloud.githubusercontent.com/assets/1390124/8447005/d2324a76-1f66-11e5-86f6-ba3242461e5d.png)

[2015-07-01 14:57] pippinsplugins commented on #45
`# Paid Sales` doesn't read right to me. Could it be combined to read like `$14.50 unpaid commissions via 4 sales`?

[2015-07-03 18:33] cklosowski commented on #43
What about `eddc_get_commissions()`. Working on converting the other functions for the specific statuses into a wrapper for this main one.

[2015-07-03 18:34] cklosowski commented on #43
I need something like this for #44

[2015-07-03 18:51] pippinsplugins commented on #43
I prefer `eddc_get_commissions()`. That way we have one function that accepts a variety of paremters.

[2015-07-03 18:53] cklosowski commented on #43
yes, and I'm mkaing it so you can pass in either a string for a status, or an array of statuses so you can pull mutliples if needed.

[2015-07-03 18:53] cklosowski commented on #43
will have it in #44

[2015-07-03 18:55] pippinsplugins commented on #43
:+1:

On Fri, Jul 3, 2015 at 1:53 PM, Chris Klosowski <notifications@github.com>
wrote:

[2015-07-03 18:55] pippinsplugins commented on #43
Make sure it supports getting commissions for specific users too.

On Fri, Jul 3, 2015 at 1:54 PM, Pippin Williamson <pippin@pippinsplugins.com

[2015-07-03 19:03] cklosowski commented on #43
yeah, it litterly just passes through.

[2015-07-03 19:33] pippinsplugins commented on #43
:+1:

[2015-07-06 23:53] cklosowski commented on #20
Once we merge in #44, I'll build this part out.

[2015-07-07 17:07] cklosowski commented on #45
![screen shot 2015-07-07 at 10 06 13 am](https://cloud.githubusercontent.com/assets/1390124/8552116/dbe7ee58-248f-11e5-8bcd-3b71bf234507.png)
![screen shot 2015-07-07 at 10 05 30 am](https://cloud.githubusercontent.com/assets/1390124/8552117/dbe83412-248f-11e5-82e3-fafff94d4983.png)

It looked really odd with `via 0 sales`, so now it only shows the sales count and the link when there are sales in

[2015-07-07 17:44] cklosowski commented on #41
Going to pull in the functions from https://github.com/easydigitaldownloads/EDD-Commissions/pull/48/files.

This way it's up to date, and I can make the changes needed to support `order` and `orderby` parameters.

[2015-07-07 17:59] cklosowski commented on #23
going to wait for #44 to go into this as I'll be updating the `eddc_get_commissions()` method again, to support the `is_renewal` meta item.

[2015-07-07 18:12] pippinsplugins commented on #44
Can we use a slidedown effect when showing the payout form? Makes it less of a harsh transition.

[2015-07-07 18:14] pippinsplugins commented on #44
@cklosowski I get an internal server error when trying to generate commissions: https://cloudup.com/cLEqNIHlczA

[2015-07-07 18:41] pippinsplugins commented on #45
:+1:

[2015-07-07 19:33] cklosowski commented on #16
If i'm not mistaken, this is already done. You can click on a user's name in teh commissions table to filter by them, and their total unpaid is shown at the bottom.

Do we need anything else here @pippinsplugins ?

[2015-07-07 20:31] pippinsplugins commented on #44
Works perfectly.

[2015-07-07 20:32] pippinsplugins commented on #45
Looks great to me

[2015-07-07 20:42] pippinsplugins commented on #16
I want a better UI for it.

Right now the only way to do it is to click on the user name from a row shown in the table. What if you have thousands of commissions and the user's commissions don't show on the first page?

No way to find them.

I'm thinking of a user search field like we use on the Customer screen.

[2015-07-08 00:17] cklosowski commented on #23
Will this do?
![screen shot 2015-07-07 at 5 17 01 pm](https://cloud.githubusercontent.com/assets/1390124/8560402/04d41a26-24cc-11e5-8e37-6cf76590fa11.png)

[2015-07-08 00:29] cklosowski commented on #16
:+1:

[2015-07-08 14:48] pippinsplugins commented on #23
Looking good.

Can you please also add a flag to the REST API data?

[2015-07-08 17:46] cklosowski commented on #7
@pippinsplugins Are you thinking a single overall filter? or one for each section of the shortcode section?

[2015-07-08 17:47] pippinsplugins commented on #7
@cklosowski Either a separate section or a separate short code.

[2015-07-08 20:28] cklosowski commented on #16
![screen shot 2015-07-08 at 1 25 50 pm](https://cloud.githubusercontent.com/assets/1390124/8581374/32e1d274-2575-11e5-9bca-631156c9e4ac.png)
![screen shot 2015-07-08 at 1 25 25 pm](https://cloud.githubusercontent.com/assets/1390124/8581378/32ebe084-2575-11e5-88a3-8fc04a8a5190.png)
![screen shot 2015-07-08 at 1 24 44 pm](https://cloud.githubusercontent.com/assets/1390124/8581375/32e5cc26-2575-11e5-

[2015-07-09 02:23] chriscct7 commented on #23
Can we make the unpaid and paid shortcodes filterable to renewals only or new sales only or both via a shortcode param.

[2015-07-09 03:43] pippinsplugins commented on #23
Perhaps in the future, not for this release.

[2015-07-09 13:50] pippinsplugins commented on #45
`Payments` should be `Commissions`: https://cloudup.com/cBmoS8Dt550

[2015-07-09 13:57] #45 closed

[2015-07-09 13:57] pippinsplugins commented on #42
Works perfectly.

[2015-07-09 13:57] #42 closed

[2015-07-09 13:59] #39 closed

[2015-07-09 14:05] #7 closed

[2015-07-09 14:09] pippinsplugins commented on #16
So sexy.

[2015-07-09 14:12] pippinsplugins commented on #44
@cklosowski We need to re-add in the warning to admins that generating the payout file will mark the commissions as paid. Perhaps it should look like AffiliateWP's:
![screen shot 2015-07-09 at 9 12 16 am](https://cloud.githubusercontent.com/assets/1034109/8597373/9fba9976-261a-11e5-902d-69db42515881.png)

[2015-07-09 14:15] pippinsplugins commented on #20
Works great!

[2015-07-09 14:15] #20 closed

[2015-07-09 14:17] #41 closed

[2015-07-09 14:18] #38 closed

[2015-07-09 14:18] #43 closed

[2015-07-09 14:23] #23 closed

[2015-07-09 14:26] #44 closed

[2015-07-09 14:40] pippinsplugins commented on #5
I don't think we need to support searching by payment ID (we can filter by payment ID already and can find commissions for a payment from View Order Details screen). I do, however, think we should support searching by email address, both the paypal email and the user email.

[2015-07-09 18:08] cklosowski commented on #5
This will require that https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3595 be completed and in core.

[2015-07-09 18:26] #5 closed

[2015-07-14 21:32] pippinsplugins commented on #7
@chriscct7 pinging you for inclusion of graphs / overview in FES vendor pages.

[2015-07-14 21:36] chriscct7 commented on #7
@pippinsplugins ?

[2015-07-14 21:50] pippinsplugins commented on #7
[edd_commissions_graph] and [edd_commissions_overview]

[2015-07-15 14:57] pippinsplugins opened #63 "Some server configs don't allow the download of the batch export file"
On some hosting configurations (like the EDD Pagely setup), the file to download the Mass pay file ends in a 502(?) so the file doesn't download. This results in having to manually download the file, which, does not contain the date on it since that's part of the Core EDD Batch Export class processing the download.

[2015-07-21 03:42] pippinsplugins opened #64 "Build out payout API"
We've needed a payout API for a while now. Let's do this.

The goal of this API will be to make it easy to add payout options through Stripe, PayPal, Dwolla, etc.

This should use the new batch processing API to ensure we can handle large amounts of data.

[2015-07-21 03:43] pippinsplugins opened #65 "Add PayPal Payout option through REST APi"
I just completed the [update to AffiliateWP's PayPal Payouts add-on](http://affiliatewp.com/paypal-payouts-add-on-updated-to-version-1-1/) and it really wasn't too bad. We should add support for this to EDD commission.

The REST API is available to all business accounts.

Note: requires #64

[2015-07-21 03:44] pippinsplugins commented on #64
This should support processing payments for individual commissions and in bulk:
![screen shot 2015-07-20 at 10 44 10 pm](https://cloud.githubusercontent.com/assets/1034109/8792736/da14bf74-2f30-11e5-92a4-d0a1d6d0809e.png)

[2015-07-21 05:17] cklosowski opened #67 "Improve shortcode attributes"
Right now the shortcode callback functions assume they are being called directly, and the `$user_id` is set to an array if someone calls `[shortcode user_id=<user_id>]` and this is expected Shortcode usage in things like 'FES'.

We should look at improving them and #66 should address this when completed.

[2015-07-22 18:42] cklosowski commented on #63
The date is on the payout i'm looking at:
![screen shot 2015-07-22 at 11 41 41 am](https://cloud.githubusercontent.com/assets/1390124/8834003/ac90a432-3066-11e5-8720-62e851a3a775.png)

[2015-07-22 18:42] cklosowski commented on #63
@pippinsplugins You sure you're on the right branches of everything? I'm getting the date...those dates are actually controlled by the Core EDD batch exporter.

[2015-07-22 18:53] cklosowski commented on #63
Updated the title and the description to reflect the real issue, it's in the download process being cut short by the server config.

[2015-07-24 21:25] #67 closed

[2015-07-27 14:52] cklosowski commented on #63
Cannot replicate on Pagly staging.

[2015-07-27 17:46] cklosowski commented on #63
So the issue isn't in the batch export process, it's in the file download process. When the batch is done, the core batch processor goes through and forces a download of the temp file, with the date appended. Since this is erroring on the hosting platform, the dates aren't appended. I've not been able to replicate on the pagely staging environment, but it's repeatable on multiple accounts on their

[2015-07-27 17:46] cklosowski commented on #63
Come to think of it, that waiting until the end to mark things as paid might be the issue...that's a lot of queries hitting the DB consecutively, which could be why I didn't see the issue in staging.

[2015-07-27 18:23] pippinsplugins commented on #63
Any test I can run to help track it down?

[2015-07-27 19:19] cklosowski commented on #63
We'd just need to see if there was any errors in the PHP error log at the time of export...but we'd need the whole mark as paid thing to run as well. So that's maybe something we'd have to try at our next payouts?

[2015-07-27 21:14] pippinsplugins commented on #63
Sure thing.

[2015-08-04 17:02] cklosowski opened #73 "No more tax query for counts"
On the commissions list table, we're getting the counts of each status, however that's a tax query, so on every page view of the list table, it's running 4 tax queries, we should stop that.

[2015-08-05 21:36] pippinsplugins opened #75 "Amounts sent to PayPal incorrect with multiple vendors and shipping"
As raised in [this ticket](https://secure.helpscout.net/conversation/107602166/13555/), it appears there is an issue with the payment amounts sent to PayPal when using PayPal Adaptive Payments and an order is placed that includes items from multiple vendors and shipping fees (simple shipping).

The amounts recorded in Downloads > Commissions are correct but the actual amounts in PayPal are wrong.

[2015-08-05 21:36] pippinsplugins commented on #75
Looks like this is due to shipping rates and tax options not being taken into account.

[2015-08-05 21:37] pippinsplugins commented on #75
I think ^ will fix it. I'm going to ask the customer that noticed it to beta test to confirm.

[2015-08-05 22:04] #73 closed

[2015-08-10 15:02] SDavisMedia opened #76 "Discounts do not affect commission amounts"
Tested with both a 100% discount and a partial discount, it appears that when an item has commissions set, the commission is logged based on the original price of the item with no adjustments for the discount amount.

I tested with 3.2.1 and a user tested with 3.2.

[2015-08-10 15:13] mindctrl commented on #76
@SDavisMedia just tested. It does this when the Calculation Base setting is "Subtotal (default)". If you set it to "Total with Taxes", it calculates properly. The option name isn't quite accurate, but in the description below it does mention "after taxes and discounts". I vote we change the dropdown options to reflect this. Something like "Total with/without Taxes and Discounts".

[2015-08-10 15:22] SDavisMedia commented on #76
Oh good catch! I looked right over that. That said, I don't like the setting as-is either.

[2015-08-10 15:23] SDavisMedia commented on #76
Oh good catch! I looked right over that. That said, I don't like the setting as-is either.

[2015-08-10 15:45] SDavisMedia commented on #76
In fact, this setting's options are specific to taxes when taxes aren't even enabled. It's already hard enough to notice the mention of discounts. If you're not using taxes, you're really gonna think the setting doesn't apply to you... at least that's what happened to me.

[2015-08-10 20:32] pippinsplugins commented on #76
I'll have to double check but I believe both `Total...` options apply after discounts, but one is after discounts AND taxes.

[2015-08-11 15:24] pippinsplugins opened #78 "Dates are incorrectly parsed for first and last day of the month when exporting"
If you export May 1 to May 31st, you actually only get May 2nd to May 30th.

[2015-08-11 15:26] pippinsplugins opened #79 "Batch export file fails to download"
On some sites (particularly Pagely it seems), the batch export file fails to download.

[2015-08-13 15:32] mindctrl opened #80 "Flat rate amounts less than 1 are incorrectly converted"
Set up a flat rate commission of less than $1 (for example .25), save the download, and the commission gets multiplied by 100 and saved as 25. We just need to check that the commission type is percentage before doing the conversion.

[2015-08-13 15:43] chriscct7 commented on #80
It should be noted that 25 cents is not a valid commission amount if they
use PayPal to pay out. So while this may be a bug it prevented people from
setting commissions that can't be paid out. For example 10 commissions of 1
cent is 10 cents which is less than the gateway supported minimum of 50
cents. If we remove this we need to put in logic that only pays out what
can be paid out (ie if sending

[2015-08-13 16:11] mindctrl commented on #80
@chriscct7 have a good link where the minimums are detailed?

[2015-08-13 16:34] chriscct7 commented on #80
No, because not only does it vary for each gateway, it varies for each country, and on settings.

For example, in the United States, PayPal Adaptive, the minimum transfer amount is $0.02, the average fee is 2.9% + 30 cents

US PayPal Adaptive Chained (seller pays fees): Minimum 2 cent commission (after all discounts + taxes)
US PayPal Adaptive Chained (primary receiver pays fees): Minimum 2 cent c

[2015-08-13 18:59] pippinsplugins commented on #80
I'm fine with allowing less than $1 commissions and just noting the PayPal limitations in the documentation.

[2015-08-13 18:59] #80 closed

[2015-08-13 21:55] pippinsplugins opened #82 "Custom date ranges not working properly"
The custom date ranges in reports are not working properly. For example:

![screen shot 2015-08-13 at 4 55 10 pm](https://cloud.githubusercontent.com/assets/1034109/9262631/097b88d4-41dc-11e5-98f1-260bea17e5b4.png)

That should start on June 15 but is actually starting on June 1. It should end on July 15 but is ending on July 31.

[2015-08-14 14:05] pippinsplugins commented on #79
I just had this happen on the live EDD site.

[2015-08-14 14:11] pippinsplugins commented on #79
![screen shot 2015-08-14 at 9 11 26 am](https://cloud.githubusercontent.com/assets/1034109/9275691/78793dfc-4264-11e5-9384-123479181acd.png)

[2015-08-14 14:42] chriscct7 opened #83 "Back Pagination Links Don't Work on Unpaid Commissions"
On page 7, this is the link for page 6:
https://easydigitaldownloads.com/your-account/&eddcup=6?eddcup=7

Could affect paid and other pagination links as well

[2015-08-20 16:40] SDavisMedia commented on #75
Any word form the customer?

[2015-08-20 18:24] pippinsplugins commented on #75
Negative.

[2015-08-31 16:43] SDavisMedia commented on #75
@pippinsplugins Any way we can take over testing on this? I don't have PAP at the moment. Are you able to test it?

[2015-09-01 22:17] pippinsplugins commented on #75
@SDavisMedia You can test without a PayPal app. Just uncomment this line and then verify amounts are correct after submitting checkout: https://github.com/easydigitaldownloads/EDD-Commissions/blob/ae4ea3ab81c5ac9bd260ad1c874d8545f4ccf884/includes/adaptive-payments.php#L135

[2015-09-08 04:36] christ0ph3r opened #84 "Commissions Shows For All Sales"
When I use [edd_commissions_graph] I see the entire total sales + earnings for all of the store when I only have 2 sales assigned to the user ID.

[2015-09-08 13:37] pippinsplugins commented on #84
@christ0ph3r Are you logged in when viewing the page?

[2015-09-08 17:18] christ0ph3r commented on #84
Yes.  I just tested on a new server + fresh installs + 2015 theme.

The shortcode I am using is [edd_commissions_graph] .

Please note all the other shortcodes return the correct values.

It actually doesn't show the entire sales like I originally commented.  It shows the entire commissions which is still just as bad.

For example say your store has 3 $3 sales.  1 sale has no commissions.  Joe get

[2015-09-08 21:52] christ0ph3r opened #85 "Infinite Exporting"
If you attempt to generate a file with a higher amount then what is owed it seems to glitch and doesn't have a check for that.

For example I have 2 $3 test commissions and put 80 as the minimum number.  The blue bar loads over and over + never stops.

Seems it would crash the site eventually depending on the server specs.

[2015-09-10 22:21] chriscct7 opened #86 "Bundled Cert Update"
PayPal is requiring IPN requires that have a bundled cert to use a new certificate here:
https://knowledge.symantec.com/support/mpki-for-ssl-support/index?page=content&actp=CROSSLINK&id=SO5624

The bundled masspay uses one, and we need to swap it out and push out an update ASAP as PayPal will stop honoring the certificate at any time between right now and September 30th

Info:
https://devblog.payp

[2015-09-10 23:22] cklosowski commented on #86
Looks like this most urgent one is for services calling the `www.paypal.com` endpoint. This is slated for Sandbox in Q1 2016 and Live Q2 2016.

@pippinsplugins Can you check me on those links above and make sure i'm reading that right?

[2015-09-10 23:35] cklosowski opened #87 "Update SHA1 Cert"
While investigating for #86, @chriscct7 and I noticed that the current SHA1 cert for the endpoint we're using is going to expire:
Renewal Schedule (SHA-1) by Endpoint
Certificates are used to verify the identity of a person or device, authenticate a service, or encrypt files. Occasionally, these certificates require renewal. Please review the schedule below and make sure you are ready for such eve

[2015-09-10 23:36] cklosowski commented on #87
@pippinsplugins do know where to grab these things? I cna't find them anywhere.

[2015-09-10 23:37] chriscct7 commented on #87
+1

Maybe call PayPal directly, but this update needs to be into customers WP installs before they expire, so time is of the essence

[2015-09-11 04:57] chriscct7 commented on #86
Chris K is correct. No update is required. We should slate this for a later release when SHA 256 is more widely available. Agree with the milestone change.

[2015-09-11 04:57] chriscct7 commented on #86
See related #87 for a more time sensitive update though

[2015-09-11 06:28] pippinsplugins commented on #86
We don't actually use the masspay API in Commissions. The library files are there from when we were thinking of introducing scheduled commissions and such.

We need to just remove all of the PayPal library files and this will be done.

Need to investigate PayPal Adaptive Payments to see if it needs updated though.

[2015-09-11 06:30] pippinsplugins commented on #86
PayPal Adaptive Payments doesn't include any certificates so we're good there too. Closing as invalid :) whew

[2015-09-11 06:30] pippinsplugins commented on #87
See #86

[2015-09-11 06:30] #87 closed

[2015-09-11 06:32] chriscct7 commented on #86
Braintree is a PayPal product. If we still support that extension, we probably have to update that cert as well

[2015-09-15 14:07] pippinsplugins commented on #63
Live EDD site is still seeing a gateway timeout here:
![screen shot 2015-09-15 at 9 06 52 am](https://cloud.githubusercontent.com/assets/1034109/9878603/2770f5ec-5b89-11e5-856d-544f60faee8e.png)

[2015-09-16 22:59] pippinsplugins commented on #75
@SDavisMedia I just had a user confirm that this fixed the issue.

[2015-09-16 23:00] pippinsplugins commented on #75
@cklosowski Could you give this a look over?

[2015-09-25 23:36] chriscct7 opened #89 "Tiered commission rates"
It would be interesting to see an option that changes the global commissions for authors based on the level of sales they have. Example:
Sales Total       Commission Percentage
0 - 1000            10%
1000- 10000     20%
10000 - unlimited 30%

[2015-09-26 04:18] carter2422 commented on #89
This would be great.

On Friday, September 25, 2015, Chris Christoff <notifications@github.com>
wrote:

--
Jonathan Williamson
http://cgcookie.com

[2015-09-28 00:06] pippinsplugins commented on #89
Tiered commission rates. :+1:

[2015-09-30 21:59] mindctrl commented on #89
Good idea. Related, we've had several requests for varying commission rates based on a status of some kind (membership, purchasing a particular item, whatever). Could get tricky really quickly. Sales seems like a good obvious one to start with, but if we abstract it, we may be able to integrate other things with it.

[2015-10-20 03:28] christ0ph3r commented on #84
Hey @pippinsplugins I have tested on 3 different hosts, multiple datasets, and multiple user roles.  I am still getting the issue.  Can you confirm?

[2015-10-25 18:31] #75 closed

[2015-10-25 18:33] pippinsplugins commented on #85
This does not happen to me. @christ0ph3r Are you still seeing it?

[2015-10-25 18:33] pippinsplugins commented on #79
This still happens on the live EDD site for unknown reasons.

[2015-10-25 19:31] christ0ph3r commented on #85
I updated and tested.  I now get "No data found for export parameters".  The issue doesn't seem to exist anymore.

:+1:

[2015-10-25 19:31] #85 closed

[2015-10-28 14:01] mindctrl opened #91 "PHP Strict Error in render_formbuilder_field()"
I get this PHP strict notice in the admin on the latest version of Commissions.
[code]

[2015-10-28 14:14] mindctrl opened #92 "Improve payout generation experience when no dates are specified"
When generating a payout file, if you specify no date range an empty file gets generated and downloaded. I think it would be better to show some kind of notice instead.

Customer reported [here](https://secure.helpscout.net/conversation/133856529/19905/).

[2015-10-28 14:27] mindctrl opened #93 "Improve UI for configuring commissions on products"
We've talked about this in Slack, but I don't see an issue here to track it.

Right now configuring a product's commissions settings is not very user friendly. You have to enter comma-separated user IDs and then you have to enter comma-separated rates in the box below. We've had a fair amount of tickets about this confusion, and today had a request from a customer to improve it.

It would be great

[2015-10-28 17:50] chriscct7 commented on #91
This is a duplicate of https://github.com/easydigitaldownloads/EDD-Commissions/pull/90, which fixed this. Someone just needs to push it out.

[2015-10-28 17:50] #91 closed

[2015-10-29 18:13] pippinsplugins commented on #93
What about a repeatable table similar to variable prices and file downloads?

Simply add a row, pick a user, and set a rate for each recipient.

[2015-10-29 18:15] mindctrl commented on #93
That would be great.

[2015-10-29 20:36] pippinsplugins commented on #93
I'll see if I can work on this sometime after EDD 2.5

On Thu, Oct 29, 2015 at 1:15 PM, mindctrl <notifications@github.com> wrote:

[2015-11-03 04:22] SDavisMedia opened #95 "Update customer UI tab for EDD changes"
The Commission tab in the Customer UI will lose its formatting when EDD issue/3820 is implemented: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3820

![1dbd872e-61e5-11e5-9d4d-b334f2e5889c](https://cloud.githubusercontent.com/assets/2359131/10901411/9d1ea9ee-81a2-11e5-8ead-1f62f3a57819.png)

[2015-11-03 04:44] SDavisMedia commented on #95
When EDD issue/3820 is live, this will display as expected.

![screen shot 2015-11-02 at 8 44 13 pm](https://cloud.githubusercontent.com/assets/2359131/10901402/872a44e0-81a2-11e5-947e-249d91e477be.png)

[2015-11-07 17:13] SDavisMedia opened #96 "commissions table shows false price options for single price products"
Ticket: https://secure.helpscout.net/conversation/136726573/20686/

I was able to replicate. To do so:

1. Create a single price product and enable commissions.

2. Create a variable price product and enable commissions.

3. IN THIS ORDER, add the variable price product to your cart (any price option). Then add the single price product to your cart. Complete the purchase.

4. Go to Downloads -> Co

[2015-11-07 17:14] SDavisMedia commented on #96
Note: I looked around to see if I could find the erroneous output anywhere but couldn't. I'd double check, though.

[2015-11-12 22:58] christ0ph3r commented on #84
Hey @pippinsplugins sorry to bump again just not sure if you saw this.

I would really like to use this graph shortcode.  It is such a cool feature. But it does not work correctly from everything I have seen and I have spent many hours testing this to make it work.  I have tried on many hosts with fresh installs.

[2015-11-18 01:11] pippinsplugins commented on #84
Sorry, I haven't had a chance to look at this yet. I'll look soon.

[2015-11-18 20:18] SDavisMedia opened #97 "allow Simple Shipping to honor Calculation Base setting"
As of now, the shipping fee applied by simple shipping is added to the price of the cart items and the commissions are calculated based on that total. Commissions has a setting for this, Calculation Base. It honors taxes and discounts but ignores shipping fees.

Because of this, if you view the shipping fee from a similar standpoint as taxes and discounts, this essentially means that the Calculati

[2015-11-23 15:48] pippinsplugins commented on #97
![screen shot 2015-11-23 at 9 48 09 am](https://cloud.githubusercontent.com/assets/1034109/11341271/6421bfe8-91c7-11e5-8c43-fb48a2d3ca2c.png)
![screen shot 2015-11-23 at 9 48 19 am](https://cloud.githubusercontent.com/assets/1034109/11341270/6420d75e-91c7-11e5-98f4-7a9f00b68384.png)

[2015-11-23 19:47] #97 closed

[2015-11-30 17:07] pippinsplugins commented on #95
This works properly with EDD 2.5 but breaks again with any version prior, so let's wait to release this update until 2.5 is out.

[2015-12-01 19:07] carter2422 opened #100 "Duplicate Commissions on Export"
In v3.2.3 I just got duplicate commission earnings exports for each user.

All amounts are equal, so each row was simply added twice on the batch export using the normal **Generate Payout File** with a date range.

[2015-12-06 07:01] chriscct7 opened #101 "If user_id is in recipients, do not record a commission"
See https://github.com/chriscct7/edd-fes/issues/928

[2015-12-06 15:14] pippinsplugins commented on #101
Hmm, not sure on this. Could go both ways.

I test commission creation with my own user all the time.

[2015-12-06 17:09] SDavisMedia commented on #101
Yea I do too.

[2015-12-06 18:13] pippinsplugins commented on #101
Personally, I'd vote that we not do this.

[2015-12-06 18:20] SDavisMedia commented on #101
The problem presented by a user is that commissions can be recorded for a vendor after purchasing his or her own product. They could then get money back. But at the same time, earn points through Points & Rewards for their purchase. Then use the points for discounts on products that do not belong to them.

Crazy? Sure. Possible? Absolutely. And because FES, Commissions, and Points & Rewards are al

[2015-12-06 18:40] pippinsplugins commented on #101
That scenario makes much more sense. Maybe the best answer is to disable earning points on your own products in Points and Rewards.

[2015-12-06 18:44] SDavisMedia commented on #101
That removes our ability to test with Points and Rewards... same thing you mentioned above for Commissions. Not as important of a plugin but still needs testing.

Can both be limited to just admins? If you're an admin, you can earn commissions on your own product as well as points. If you're not admin, you can't for either.

[2015-12-06 19:19] pippinsplugins commented on #101
I'd be fine with limiting self-points and self-commissions to admins.

[2015-12-06 19:19] pippinsplugins commented on #101
Or maybe we could just add a filter: `apply_filters( 'eddc_allow_self_commissions', true )`

[2015-12-06 19:24] SDavisMedia commented on #101
Yea I like that idea.

[2015-12-06 19:27] pippinsplugins commented on #101
@SDavisMedia could you pass that on to Jigar? I'll get this milestoned.

[2015-12-06 20:01] SDavisMedia commented on #101
Sure thing.

[2015-12-18 15:40] pippinsplugins commented on #84
@christ0ph3r Tracked it down. We'll push out an update today to fix it.

[2015-12-18 15:40] #84 closed

[2015-12-18 19:07] christ0ph3r commented on #84
Nice find.  Thanks so much!  Will try it out this weekend.

[2015-12-23 02:05] pippinsplugins opened #102 "Add support for commissions on renewal payments in EDD Recurring"
Commissions are currently only recorded on the first payment in an EDD subscription. We should add an option to record a commission on renewal payments too.

[2015-12-23 13:35] brashrebel opened #103 "Send only 1 email to commission recipient when multiple downloads sold"
Currently, when a customer purchases multiple downloads from the same vendor/commission recipient in the same transaction a single email is sent to the customer and to the site admin. However, the vendor receives a separate email for each download or variation of a download that was purchased. It seems like it would be a better experience if the vendors received a single email per relevant transac

[2015-12-23 18:01] pippinsplugins commented on #103
Oh, whoops.

[2015-12-27 00:20] cklosowski commented on #101
Yes, I'm all for a filter here to enable earning points on your own products.

[2015-12-28 20:17] sunnyratilal opened #104 "REST API Querying Slow"
When using the REST API to query `commissions`, the request speed is over 5s. In comparison to this, the `stats` and `sales` endpoints both have request speeds of 0.1s.

The request speeds are taken when using the REST API on the EDD site.

[2015-12-29 21:27] pippinsplugins commented on #104
I'm going to start digging into this (and related items) once EDD 2.5 and EDD Recurring 2.4 are out.

[2016-01-04 20:40] carter2422 opened #105 "Commissions set to 0 will use next commission value in list"
If a product has multiple users receiving commissions, and the first one is set to `0` percent, then that first user will receive a commission in the value of the second user, rather than the specific 0.

For example, here's a $3.00 product with two users, the first of which should not receive anything (per their preference):
![screen shot 2016-01-04 at 2 36 38 pm](https://cloud.githubusercontent.

[2016-01-05 19:31] cklosowski commented on #105
Thanks. Will get it into the next release.

[2016-01-07 19:25] cklosowski opened #106 "Use EDD 2.5 sections in setting"

[2016-01-07 19:39] #106 closed

[2016-01-07 19:39] cklosowski opened #108 "Custom Date Ranges on commission report is incorrect"
When view custom date ranges on commission reports, the start and end dates of the graph do not respect the ones selected. For example pick November 15, 2015 - December 15, 2015 in the dropdowns and the graph will report November 1, 2015 - December 31, 2015.

[2016-01-07 21:24] #108 closed

[2016-01-07 21:35] cklosowski commented on #95
Closing, this will go with 3.2.5 today

[2016-01-07 21:35] #95 closed

[2016-01-08 15:34] cklosowski opened #110 "Commissions list table pulls incorrect rate if download commission type is changed"
To replicate, create a download with a percentage commission and make a sale. My example was `70%` commission.

Make a sale and in commissions you'll see a Rate of `70%`.

Change the download to be a flat rate, and change the value to `7` for a `$7` commissions payout, and make a sale, and your new commission will show a rate of `$7` (correct), but the previous commission will show `$70`. The data

[2016-01-08 15:46] #105 closed

[2016-01-08 16:09] cklosowski commented on #110
Currently we don't store the commission type when it's recorded, so we can't do this yet. Going to punt for later on when we re-write this. The data/payouts is fine, it's just a visual that's incorrect.

[2016-01-09 20:06] #96 closed

[2016-01-11 22:18] cklosowski opened #113 "EDD Recurring 2.4: Allow commissions to be recorded on renewals"
This is a compatibility issue for EDD Recurring 2.4, which will allow store owners to record commissions with renewal payments.

[2016-01-15 06:45] pippinsplugins opened #114 "Bulk processing marks all commissions as paid in a single loop"
Our bulk processing tool is fantastic for calculating the amounts that need paid out . . . but it's not good at marking those commissions as `paid`. Turns out that every commission record that is included in the payout gets marked as `paid` in a single loop:
[code]

The `print_csv_rows()` method runs after all of the bulk processing is completed and runs in a single step.

This is the item causing

[2016-01-15 18:20] pippinsplugins commented on #114
@cklosowski Could you mark this down on your todo for two weeks from now? We need it done before our next EDD payout.

[2016-01-22 21:28] mindctrl opened #115 "Ability to export commissions by status"
Customer requested, and I quote:

[2016-01-23 08:35] pippinsplugins commented on #115
:+1:

Nice and easy to do now too with our bulk export options.

[2016-01-27 23:55] cklosowski commented on #114
@pippinsplugins i'll try and get this done this week.

[2016-01-28 18:10] chriscct7 opened #116 "Calling eddc_get_recipient_rate() with its default parameter values throws a notice"
When you call eddc_get_recipient_rate and do not specify any of the values for the parameters, or use 0 for the download ID and set the user_id to the one you want (to get a user's commission default rate), a fatal error is thrown since without defining $download_id, $rate is never defined before it's attempted to be cast to a float.

[2016-01-28 19:20] chriscct7 commented on #116
This was caused by https://github.com/easydigitaldownloads/EDD-Commissions/commit/af78a70304a1d7fa34a28e6bad943ffa7300aa8d

[2016-01-28 19:23] chriscct7 commented on #116
Example calls that error:
$rate = eddc_get_recipient_rate();
$rate = eddc_get_recipient_rate( 0, $user_id);

[2016-01-28 20:13] pippinsplugins commented on #116
@cklosowski Could you look at this tomorrow please? I believe we have at least two open support tickets that this resolves.

[2016-01-28 20:21] pippinsplugins commented on #116
To be clear, this is not a fatal error, it's just a PHP notice that FES reports (I think poorly) as a fatal error to the user:

Undefined variable: rate in /MAMP/edd/wp-content/plugins/EDD-Commissions/includes/commission-functions.php on line 266

[2016-01-28 22:13] pippinsplugins commented on #114
Thank! We just need it before the 15th of February :)

[2016-01-28 22:57] cklosowski commented on #116
I only get the notice when no `download_id` is provided, we cast `0` automatically for the user ID, so even if you don't supply it, we have a value to 'test' against.

[2016-01-28 22:58] cklosowski commented on #116
I'll go ahead and define `$rate = 0` before any logic happens and also save us a DB call to the usermeta by wrapping the `$rate = get_user_meta( $user_id, 'eddc_user_rate', true );` call to only run if the `$user_id` isn't empty.

[2016-01-28 23:00] cklosowski commented on #116
@pippinsplugins @chriscct7 PR is ready for your review.

[2016-01-28 23:10] #116 closed

[2016-01-30 06:54] chriscct7 commented on #32
Oops. This should have been closed out.

[2016-01-30 06:54] #32 closed

[2016-02-02 17:17] pippinsplugins opened #120 "0 rates set improperly"
The default store rate is not being respected properly by `eddc_get_recipient_rate()` resulting in vendor commission rates getting set to `0` instead of the default when submitting products through FES.

Introduced with changes from #116 and #105

See https://github.com/chriscct7/edd-fes/issues/1006

[2016-02-02 18:57] #120 closed

[2016-02-11 21:55] pippinsplugins commented on #114
@cklosowski Looks like it works really well. I'll need to test on a site with thousands of records to be sure though.

One thing: could we reload the page after marking as paid? That way the user can see the change from unpaid to paid.

[2016-02-11 22:02] pippinsplugins commented on #114
When we get to this stage, let's show a break down of the commissions that will be paid. That way the site admin can review the commissions before downloading the file.
![screen shot 2016-02-11 at 4 01 43 pm](https://cloud.githubusercontent.com/assets/1034109/12992248/d48fbfbe-d0d8-11e5-8718-e54fb049cbba.png)

[2016-02-11 22:08] pippinsplugins commented on #114
Testing it now with 1300 commission records.

[2016-02-11 22:09] carter2422 commented on #114
@pippinsplugins is this something that might later enable generating a payout report *without* marking them as paid yet?

[2016-02-11 22:11] pippinsplugins commented on #114
@carter2422 Yes. After the "Download Payout File" is clicked, it shows a `Mark as Paid` button:
![screen shot 2016-02-11 at 4 10 54 pm](https://cloud.githubusercontent.com/assets/1034109/12992431/0d320d44-d0da-11e5-953b-52b41eeffee1.png)

If you don't want to mark them as paid, just don't click the button.

[2016-02-11 22:18] pippinsplugins commented on #114
Definitely need the redirect, otherwise there is the possibility the user could try to mark as paid a second time:
![screen shot 2016-02-11 at 4 17 33 pm](https://cloud.githubusercontent.com/assets/1034109/12992611/05201d34-d0db-11e5-8345-872e939cc91d.png)

[2016-02-11 22:18] pippinsplugins commented on #114
Worked perfectly though, @cklosowski, nice work! Just a bit of polish needed then we're good to go :)

[2016-02-11 22:23] carter2422 commented on #114
But what if I want to click *the button*....

That's excellent and exactly what I've been wanting :)

[2016-02-11 22:25] pippinsplugins commented on #114
NO CLICKING THE BUTTON!

[2016-02-12 18:23] cklosowski commented on #114
They can try and mark as paid again it won't work. When the batch is done the option with all the Ids is deleted. So it won't mark anything as paid. We can just hide the button or something so it's clear its over.

[2016-02-12 18:24] cklosowski commented on #114
I'll try and work a redirect I to the batch processing. I don't know if we left ourselves an out for that.

[2016-02-12 18:55] pippinsplugins commented on #114
Seems like a redirect via javascript would be trivial.

[2016-02-12 19:46] cklosowski commented on #114
@pippinsplugins we need our core batch processor to accept a redirect, right now it's messages, downloads, or errors. I'll work on something though.

[2016-02-15 17:37] #114 closed

[2016-02-15 18:18] cklosowski commented on #92
@mindctrl would love your feeback on this approach, ties into the core's `is_empty` status and gives us a report that nothing was returned due to the ranges specified.

[2016-02-15 18:34] mindctrl commented on #92
@cklosowski this looks much nicer than getting an empty file!

![image](https://cloud.githubusercontent.com/assets/1254870/13057214/b38920d6-d3e8-11e5-99d0-ba1265feba54.png)

Thoughts on adding the word `amount` after `minimum` in the notice? I know it matches the text field above, but I'd rather they both have amount really, just for the sake of clarity.

[2016-02-15 18:41] cklosowski commented on #103
This is going to take a pretty substantial re-write in that we'll need to completely change the template used for sending the notification emails. Right now they have the tokens in place for a single item, not a list of items. I need a bit more time to really think through a UX that's backwards compatible.

[2016-02-15 18:50] cklosowski commented on #92
@mindctrl Sure, that notice was added in #114. I'll get it updated here for clarity.

[2016-02-15 18:55] mindctrl commented on #92
@cklosowski :+1: looks good

[2016-02-15 19:42] #92 closed

[2016-02-16 20:45] mindctrl opened #124 "Change role required to access commissions payout screen"
It's currently set to `manage_options`. [Reference](https://github.com/easydigitaldownloads/EDD-Commissions/blob/3.2.8/includes/admin/list.php#L14).

Suggest changing to `shop_manager`, and @pippinsplugins says that sounds good.

[2016-03-04 20:43] pippinsplugins opened #125 "Issues with Commissions + Simple Shipping + PayPal Adaptive Payments"
There are several issues with the integration between Simple Shipping, Commissions, and PayPal Adaptive Payments.
1. The include/exclude shipping fee options do not work when paying out commissions instantly through PayPal Adaptive Payments.
2. When the commission rate is set to 100%, the redirect to PayPal fails with an `amount must be greater than zero` error.

[2016-03-04 20:50] #124 closed

[2016-03-04 21:13] pippinsplugins commented on #125
This can still fail when calculation base is subtotal.

[2016-03-04 21:23] pippinsplugins commented on #125
@mintplugins Can you test this again?

[2016-03-11 17:38] mintplugins commented on #125
**"Shipping Fees" setting causes `greater than zero` error:**

Under "Downloads" > "Settings" > "Comissions", if "Shipping Fees" are set to "Shipping fee not paid to recipient", everything works correctly. However, if set to any other option, it gives the `greater than zero ` error.

You'll get the `amount must be greater than zero` error if "Shipping Fees" are set to:
- "Shipping fee paid to reci

[2016-03-22 15:48] mintplugins opened #127 "Make Shipping options more understandable."
In EDD Commissions, can we make the Shipping list items to more descriptive? I am not sure if I understand what they are supposed to mean.

The settings are located at: "Downloads" > "Settings" > "Extensions" > "Commissions":

The change would be on line 69 of settings.php:

[code]
Proposed change:

[code]

[2016-03-22 15:55] mintplugins commented on #127
Pull request: https://github.com/easydigitaldownloads/EDD-Commissions/pull/128

[2016-03-22 15:58] #127 closed

[2016-03-22 17:17] topher1kenobe opened #129 "In Gateway Settings, hide Default Gateway chooser when only one gateway active"
When there's only one Gateway enabled, it should be the "default" by default, and then we can hide some UI and make the whole thing simpler.
![selection_226](https://cloud.githubusercontent.com/assets/341412/13960878/75f2e072-f030-11e5-9485-92abed6248e3.png)

[2016-03-22 17:48] michaelbeil commented on #129
Would we also want to hide any settings for individual gateways below the Gateway Settings section since only one gateway is enabled?

[2016-03-22 18:53] pippinsplugins commented on #129
@topher1kenobe wrong repo.

[2016-03-22 18:53] #129 closed

[2016-03-31 07:35] mintplugins commented on #125
@pippinsplugins This ended up being something that I realized was an issue with Commissions and Shipping in general. It lead to me re-writing the shipping portion of the main commission functions. There are a lot of changes. My changes make the following work:

- Shipping wasn't calculated correctly for commissions if set to anything for "Reciever split" settings.
- Shipping with variable pricing

[2016-03-31 07:50] mintplugins commented on #125
Sidenote for discussion: I also believe that no shipping functions should actually be in the Commissions extension and all should be moved to Simple Shipping. I may need to add a couple of filter hooks to commissions to make that possible but to me that makes the most sense.

[2016-03-31 17:55] pippinsplugins commented on #125
@mintplugins let's do it all as one issue since they're so closely related.

[2016-03-31 22:38] mintplugins commented on #125
@pippinsplugins Here's the PR: https://github.com/easydigitaldownloads/EDD-Commissions/pull/130/files

[2016-03-31 23:27] mintplugins commented on #125
What should be tested:

No Shipping:
- A single product with commissions
- A single product with variable prices and commissions

With Shipping:
- A single product with commissions and shipping
- A single product with variable prices and commissions

Also should do test purchases with a combination of products with Commissions, Commissions and Shipping, and no commissions.

[2016-04-05 22:05] pippinsplugins commented on #125
@mintplugins I'm going to test this tomorrow.

[2016-04-06 14:24] mintplugins commented on #125
@pippinsplugins
You can hold off on testing for a bit - I have the customer doing some tests and there's a couple issues I still have to work out with it. I'll be adding more commits later today (hopefully)

[2016-04-06 20:51] pippinsplugins commented on #125
:+1:

On Wed, Apr 6, 2016 at 9:24 AM, Phil Johnston <notifications@github.com>
wrote:

[2016-04-06 20:57] mintplugins commented on #125
This issue will require a fix to this bug:
https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4477

[2016-04-07 21:03] fxbenard opened #132 "Add different commissions rates based on user's roles or seller choices"
It will be a nice feature to be able to assign different rates to users based on our own needs.

E.g. I give a commission to 2 users but based on their role (writer or reviewer) they don't get the same commissions.

E.g. On a specific product I want to give user2 a commission of 50% and user8 only 5%.

[2016-04-08 16:14] pippinsplugins commented on #132
@fxbenard Is there a reason you don't just set the default rate on the user's profile page?

[2016-04-08 16:24] fxbenard commented on #132
Yes, they not always get the same rate. Sometimes they're writers,
sometimes they're reviewers so different rates.

Le 08/04/2016 18:14, Pippin Williamson a écrit :

--
signature FX Bénard | FxB
Website : https://fxbenard.com
Twitter : @fxbenard <https://twitter.com/fxbenard>
Google+ : Fx Bénard <https://plus.google.com/115184248259085010066/posts>

[2016-04-12 15:02] pippinsplugins commented on #125
@mintplugins ready for more testing?

[2016-04-13 18:03] mintplugins commented on #125
@pippinsplugins  Getting close. I have price_id's being attached to fees now here:
https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4477

I just need to make it so that "edd_get_payment_meta_cart_details()" only attached the right fee to the right price ID now.

[2016-04-18 17:35] pippinsplugins commented on #125
:+1: let me know if you need any direction

[2016-04-18 18:07] mintplugins commented on #125
The issue that needs to be fixed with fees is ready to test here: https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4494

[2016-04-23 03:00] mintplugins commented on #125
For when the adaptive function gets re-written, make sure that the site_owner is taken out of the array passed to Paypal Adaptive if the mode is "Chained".

![img_20160422_130958](https://cloud.githubusercontent.com/assets/1638128/14758929/f2453402-08dd-11e6-8157-1c60afa7ab91.jpg)

[2016-05-16 18:49] pippinsplugins opened #133 "Introduce EDD_Commission object"
Just like EDD_Customer, EDD_Payment, and EDD_Download, we should introduce an EDD_Commission object that acts as an abstraction layer for commission records.

Doing so will make the transition to custom database tables significantly easier.

[2016-05-16 18:55] pippinsplugins opened #134 "Migrate to custom database tables"
It's time to move all commission data out of wp_posts and wp_postmeta and into a dedicated table.

This will make the plugin significantly less of a burden on performance and will provide much greater flexibility for future features, such as payout logs, automated payouts, improved reporting, and more.

[EDD_Commision](https://github.com/easydigitaldownloads/EDD-Commissions/issues/133) will need t

[2016-05-16 19:35] pippinsplugins opened #135 "Replace all instances of get_post_meta() for payments with edd_get_payment_meta()"
There are a few places where get_post_meta() is still used for retrieving payment meta data. These should all be replaced with edd_get_payment_meta() to aide in the gradual process of moving to custom tables.

[2016-06-02 20:18] mintplugins opened #136 "Make commission email tags filterable"
Currently, you can only have the following email tags for commission email notifications.

{download}
{amount}
{date}
{rate}
{name}
{fullname}

If we added a filter for that, anyone could create their own email tags.

I propose adding this as a filter:

`return apply_filters( 'eddc_parse_template_tags', $message, $download_id, $commission_id, $commission_amount, $rate );`

[2016-06-02 20:28] mintplugins commented on #136
This can be done through the existing eddc_sale_alert_email filter. This is not needed. Closing.

[2016-06-02 20:28] #136 closed

[2016-06-15 15:40] brashrebel opened #137 "Handling users who don't need commissions email field in profile editor"
I don't know what the right solution is. But there's definitely situations where store owners have users who don't need commissions, however with #39 we added the field to the frontend profile editor no matter what. FES stores may often want only approved vendors to have that field and prefer that it not exist for general customers or other user types.

I have no data besides one customer complain

[2016-06-15 17:21] chriscct7 commented on #137
Just because the field is in the editor doesn't mean anything. One doesn't
have to add the field to the profile form. If they don't add the field, it
won't be shown.
On Jun 15, 2016 11:40 AM, "Kyle" <notifications@github.com> wrote:

[2016-06-15 18:04] brashrebel commented on #137
I'm referring to the PayPal Email Address field that is automatically added to the [edd_profile_editor] form. Not the FES vendor profile form. That one can be customized with the FES UI. The EDD one gets this field for all users no matter what.

[2016-06-15 20:35] chriscct7 commented on #137
Ah ok
On Jun 15, 2016 2:04 PM, "Kyle" <notifications@github.com> wrote:

[2016-06-25 16:23] brashrebel opened #138 "Payout file CSV columns: where's the ID?"
I'm a little confused by this. A customer requested that the user ID be included in the future as a column in the payout CSV file. I did some quick tests and looked at the code to re-familiarize myself with the feature. However, something isn't clear to me.

I see:

[code]

in there but only the first three keys show up in the CSV as columns. Is 'ids' supposed to be a column in the CSV file?

[2016-06-27 04:07] pippinsplugins commented on #138
`ID` cannot be included because it would make the file invalid for PayPal.

The `ids` are used for the batch processing API so that it knows more easily which rows belong to which users.

[2016-06-27 10:45] brashrebel commented on #138
That makes sense. A customer told me that PayPal allowed for one additional, arbitrary field of data and they thought it would be useful to include the vendor ID for record keeping. I can tell them it isn't possible if that's the case.

[2016-06-27 13:38] pippinsplugins commented on #138
Ah, I could be wrong then. Let's check into it. If PayPal permits it, let's do it.

[2016-07-13 14:22] brashrebel commented on #137
Just curious, any verdict on this?

[2016-07-24 02:49] mintplugins commented on #125
@easydigitaldownloads/core-devs In order for Paypal Adaptive to use the same calculation function as commissions (which I think is important to make sure they don't every get out of sync), we need to do the commission calculation prior to the payment being completed. Currently the commission calculation is being completed after payment is complete through the "edd_update_payment_status" hook. Is t

[2016-07-25 16:28] pippinsplugins commented on #125
@mintplugins Not following completely. Why can't we use the same one already?

[2016-07-25 17:05] pippinsplugins commented on #137
I would like to hide it when the vendor does not have any products.

[2016-07-26 11:27] brashrebel commented on #137
So we're probably looking for something like:

[code]
That could be added to [this function](https://github.com/easydigitaldownloads/EDD-Commissions/blob/master/includes/user-meta.php#L3) so that if FES is active, the field only shows if they have published products.

Of course, the field will still always show if FES is not active. Not sure I can think of a good way to handle that or if it matter

[2016-07-27 03:31] mintplugins commented on #125
Spoke with Pippin about this on slack but just leaving a note here as well:

The commission calculation/creation function doesn't actually run until after the payment gets marked as complete. However, we need the payment calculation BEFORE we head off to Paypal Adaptive Payments.

The way I will go about resolving this is to write a separate helper function for the commission calculations which wi

[2016-08-01 19:26] pippinsplugins commented on #137
@brashrebel yes I think that could work fine.

[2016-08-01 21:02] mintplugins commented on #125
New commissions calculation helper function, new Paypal Adaptive calculations, and Simple Shipping functions: https://github.com/easydigitaldownloads/EDD-Commissions/pull/130

[2016-08-04 19:55] mintplugins commented on #125
Customer is testing https://github.com/easydigitaldownloads/EDD-Commissions/pull/130

https://secure.helpscout.net/conversation/167433619/26990/?folderId=180504

[2016-08-05 20:57] mintplugins opened #140 "Store commissions flag in payment meta"
**Background:**
The function which records commissions is hooked to the "edd_update_payment_status" and only runs if the "old_status" of the payment is not "publish" or "complete". Otherwise it exits and does nothing. This is to prevent double commission calculations.

**The Problem**
This doesn't prevent duplicate commissions from being awarded/recorded if the site owner changes the payment statu

[2016-08-08 12:52] brashrebel commented on #137
Just committed this to the `issue/137` branch. But I'm not making a PR yet because I'm still mulling this over. I'm not completely in love with this solution. First off, if we wait until FES users have published products to show this field, how can we remind them to populate it after their products are live? Doesn't it make more sense to show it once they become an approved vendor? Also, this only

[2016-08-08 13:08] brashrebel commented on #138
Turns out PayPal does support a 'Custom Note' field and an 'Customer ID' field: https://developer.paypal.com/docs/classic/mass-pay/integration-guide/MassPayUsingUI/#payment-file-contents

We're not using either of those in the export file. A customer has requested including the vendor ID for record keeping. Should we support either or both of these fields? If so, what data should they contain by d

[2016-08-08 16:55] pippinsplugins commented on #140
Yep, that'll do!

[2016-08-08 22:07] kiarashi opened #141 "support for add_query_arg() inside edd-graphs-filter"
Would it be possible for the edd-graphs-filter to support add_query_arg()?

FES uses `add_query_arg()` for menu links (?task=xxx).
When the [edd_commissions_graph] is used on such a menu link structure (e.g. vendor-dashboard/?task=commissions), the graph will show just fine, but the filter options won't work.

It's past midnight, so it's a bit too late to dig into the code and to create my own sol

[2016-08-31 21:27] benjaminprojas opened #142 "Incorrect amount being sent to PayPal (adaptive payments) when set to instant payout"
### Issue:

When sending attempting to instantly payout commissions using PayPal Adaptive Payments the amount being sent to PayPal is the total for the vendor, not the entire total.  For example,

Download: $10

Commission User: 2

Commission Rate: 80

Price in PayPal: $8.

![image](https://cloud.githubusercontent.com/assets/962530/18146873/073f6868-6fa0-11e6-8be7-0707f3925c30.png)

![image](https

[2016-08-31 21:28] benjaminprojas commented on #142
Worth noting, this works correctly in PayPal Adaptive Payments when not using Commissions. @pippinsplugins

[2016-08-31 21:33] michaelbeil commented on #142
Thanks for writing this up @benjaminprojas!

We will be looking into this.

[2016-08-31 21:37] michaelbeil commented on #142
Also, another note, is that the total of the transaction is still $10 after the payment is processed through PayPal, even though the PayPal screen shows $8.

[2016-08-31 21:40] michaelbeil commented on #142
Per a convo with @benjaminprojas:

[2016-09-01 02:50] michaelbeil opened #143 "Double commission notices"
This is the first we have heard of this, but a user that receives commissions is receiving double commission notices.

Commissions configuration for the download:
![screen shot 2016-08-31 at 21 49 15](https://cloud.githubusercontent.com/assets/4752949/18153708/d8832e2c-6fc4-11e6-9a2c-0bfec57d13dc.png)

Reference: https://secure.helpscout.net/conversation/245406405/41202/?folderId=725711

[2016-09-02 01:10] benjaminprojas commented on #142
This issue should be resolved in PayPal Adaptive Payments.  Marking as resolved. here.

[2016-09-02 01:10] #142 closed

[2016-09-05 17:17] SDavisMedia opened #144 "Setting to disable Commission Notifications"
EDD core supports not sending admin sale notifications. I think Commissions should too. Simple checkbox below the email body textarea like core.

[2016-09-05 18:16] pippinsplugins commented on #141
Could you elaborate a bit on what you're trying to do that is currently prohibited?

[2016-09-05 18:17] pippinsplugins commented on #143
I haven't seen any other reports of this but lets leave open in case it pops up again.

[2016-09-05 18:32] kiarashi commented on #141
I created an extra page inside the FES Dashboard called "Earnings" (.../vendor-dashboard/?task=earnings). Inside that page I add the Commission shortcodes, including the [edd_commissions_graph] shortcode. The graph shows just fine, but then a user uses the _select dropdown box_ to look at past earnings, the page link turns to `.../vendor-dashboard/?month=8&year=2016&edd_action=filter_reports#eddc-

[2016-09-06 19:57] pippinsplugins commented on #125
@mintplugins I see the error the customer reported. Ready for me to test further or wait?

[2016-09-07 17:03] pippinsplugins commented on #138
PR submitted that adds the user ID to each row.

[2016-09-07 17:13] pippinsplugins commented on #140
@mintplugins PR submitted.

[2016-09-07 17:20] mintplugins commented on #125
This is ready for another round of testing

[2016-09-07 17:22] michaelbeil commented on #144
Everything checks out well.

When sale notifications are disabled, no email is sent.

[2016-09-07 17:26] mintplugins commented on #140
@pippinsplugins Can we also remove this?

[code]

[2016-09-07 17:43] SDavisMedia commented on #144
Works wonderfully on my end as well. :+1:

[2016-09-07 19:07] pippinsplugins commented on #140
@mintplugins We could remove the old status check though it doesn't really benefit us, at least not in any way that I see.

[2016-09-07 19:08] #144 closed

[2016-09-07 19:10] pippinsplugins commented on #125
@mintplugins Are the breakdowns shown in your drawing above still accurate?

[2016-09-07 19:15] mintplugins commented on #140
@pippinsplugins It would allow for commissions to not be generated at other times via add-ons.  For example, you may want to delay the calculation of commissions based on a customer action - like whether they download the file before a refund period has passed (as a rough example).

[2016-09-07 19:18] pippinsplugins commented on #140
I'm not following why the status affects the ability to do that. Could you explain?

[2016-09-07 19:23] mintplugins commented on #140
If we follow the whole scenario through it would look like this:

1) Customer makes purchase
2) Payment status is set to "Complete"
3) Imagine a filtered function to which delays commissions being generated until 60 days have passed.
4) 60 days pass and now no refunds can be given. Thus, it is now "safe" to generate commissions.
5) The $old_status was "complete" and commissions were not generated

[2016-09-07 19:38] pippinsplugins commented on #140
That all makes sense. In that scenario, however, I don't believe it's right to delay creating the commission. Instead I feel we should have a new status for commissions of `pending`. Commissions should always be created immediately but they can be flagged as ineligible for payout until a later time through a pending status.

That is how we handle it in AffiliateWP and I would propose doing it here

[2016-09-07 19:45] mintplugins commented on #140
I have another potentially-real scenario which **requires** they not be generated immediately.

If the commission rate is based on user action.

Imagine the following:
- A single product has multiple files created by different people.
- The customer only downloads file 1 and not file 2. The store wishes to pay its creators based on  which files the customer chose to download. After a time period h

[2016-09-07 19:46] mintplugins commented on #140
By default they should still be generated at the time of sale. But removing that code black allows for integrations like the one described above.

[2016-09-07 19:57] pippinsplugins commented on #140
Now that's an interesting use case. Going to think on it a bit more.

[2016-09-07 20:05] mintplugins commented on #140
Great :) I think commissions would become much more powerful and expandable if we allowed them to be created at times other than directly after sale. This is why I believe it becomes important to add a flag that isn't related to payment status. Let me know your thoughts!

[2016-09-07 22:14] mintplugins commented on #125
@pippinsplugins  No not totally. Cases 1, 2, and 3 should be the same. Case 4 will give the remaining percentage to the site owner. In that example it would/should give 98% to the site owner and 1% to each vendor.

[2016-09-08 12:17] mintplugins commented on #140
I think I may have come to the conclusion that this is not worth working towards.

Here's my thinking: In the scenario I described above, I realized that a single flag for the entire payment is not enough. You would need to have a "Commissions Already Generated" flag for **each item purchased**. This would be because some items purchased would almost definitely need to have their commissions gener

[2016-09-08 18:21] mintplugins opened #148 "Build admin view for individual commissions"
This would be similar to what was added for single license views:
https://github.com/easydigitaldownloads/EDD-Software-Licensing/issues/667

And also similar to what was done for Recurring, Customer, and Vendor profiles.

It could show information about the commission such as:
- Customer
- Vendor/Reciever
- Date of initial purchase
- Date of actual Commission payment
- Amount
- Rate (%)
- Product(

[2016-09-09 19:38] mintplugins commented on #125
Another customer testing here:

https://secure.helpscout.net/conversation/249156666/41960/?folderId=180504

[2016-09-12 19:17] pippinsplugins commented on #125
@mintplugins ping me when 4 is ready too.

[2016-09-13 15:26] mintplugins commented on #125
@pippinsplugins This is ready. Essentially, for Case 4, if a user with the Store's email is set to get 1% in commissions for a product, it will get converted to 97% (with V1 and V2 getting 1% each as well).

While the user with the store's email will still correctly earn/register a "Commission" of 1%, in Paypal Adaptive, the store's email will get 97%.

[2016-09-15 18:52] michaelbeil commented on #102
A request: https://secure.helpscout.net/conversation/251538138/42439/?folderId=725711

Related: #113

[2016-09-16 17:12] mintplugins commented on #125
Here are some of the things I believe should be tested to ensure all is working. I have tested these myself but would like other people to test if possible. These need to be compeltely tested to make sure that Paypal actually splits up the payments correctly. Make sure that in chained mode the store is always the primary receiver and that it pays out vendors from there.

### Paypal Adaptive in Cha

[2016-09-16 17:32] pippinsplugins commented on #125
Excellent. On my priority list for next week.

[2016-09-21 17:03] pippinsplugins commented on #125
@mintplugins I don't think parallel payments are working. There's no error message but after going to PayPal it still shows only the one receiver (the main store):
![screen shot 2016-09-21 at 12 02 40 pm](https://cloud.githubusercontent.com/assets/1034109/18720841/564c0098-7ff3-11e6-9cc6-fc93b8db3b0c.png)
It's supposed to show each payment recipient.

Do you get the same behavior?

[2016-09-21 17:04] pippinsplugins commented on #125
Wait, ignore me. I didn't have instant pay enabled :D

[2016-09-21 17:38] pippinsplugins commented on #125
This all appears to work really well. All calculations check out for me!

Two main things I've found that still need updates:

1. We need to add some extensive help text to the settings and the new shipping options in the commissions metabox of the product edit screen. These options are complicated and there are quite a few possible configurations so lets get some good help text put in. The help t

[2016-09-21 17:42] #86 closed

[2016-09-21 17:43] pippinsplugins commented on #63
This hasn't showed up again. CLosing.

[2016-09-21 17:43] #63 closed

[2016-09-21 20:19] pippinsplugins opened #149 "Add option to auto-revoke unpaid commissions on refund"
We should introduce an option to automatically revoke any associated commission records that are unpaid when refunding a payment.

[2016-09-22 21:54] mintplugins commented on #125
1. I wrote a new doc for the Integration Guide between Commissions and Simple Shipping:
https://secure.helpscout.net/docs/5488f10de4b0dc8d3cacdf29/article/57e45200c697910d0784dcf9

I am working on the tool tips and help text in the settings. They should be ready tomorrow.

I don't believe we need to mention Paypal Adaptive with this integration. While it integrates automatically now, there are no

[2016-09-23 17:24] mintplugins commented on #125
@pippinsplugins I have added tool-tips and improved some of the description language as well as provided a direct link to the (currently unpublished) integration doc on helpscout. I feel that linking directly to the doc is best as the amount of text needed to describe this properly will only clutter the metabox.

<img width="269" alt="screen shot 2016-09-23 at 1 22 46 pm" src="https://cloud.github

[2016-09-23 17:55] michaelbeil commented on #125
What about "To learn more about how this works, see [our doc](link)."

[2016-09-23 18:39] mintplugins commented on #125
@michaelbeil I like it. Though my fear is that using the pronoun "our" can lose context when on a screen with other potential metaboxes we may not know about (other add-ons etc).

[2016-09-23 18:40] michaelbeil commented on #125
`this doc` is fine.

[2016-09-23 18:48] mintplugins commented on #125
@m 👍 https://github.com/easydigitaldownloads/EDD-Commissions/pull/130/commits/717be2ad5d5c4cb8ac9cc9940fb566bccb237468

[2016-09-23 18:52] michaelbeil commented on #125
👌

[2016-09-26 16:33] mintplugins commented on #125
Quick note that this will also solve this customer's problem:
https://secure.helpscout.net/conversation/192204548/32189/?folderId=749231

His issue was that if the "Store" is the single receiver in commissions (say a 99% commission) and the payment mode was "Chained" for Paypal Adaptive payments, the store was passed as both the first and second receiver which triggered an error in Paypal Adaptive

[2016-10-04 00:11] sunnyratilal opened #150 "Store commissions REST API endpoint broken"
The `store-commissions` endpoint is returning names of blog posts for the `item` key.

E.g. (on the EDD live site)
[code]

[2016-10-04 00:13] sunnyratilal commented on #150
Bug stems from here: https://github.com/easydigitaldownloads/EDD-Commissions/blob/master/includes/rest-api.php#L66

`$download_id` isn't declared anywhere

[2016-10-10 14:11] #150 closed

[2016-10-10 15:33] pippinsplugins commented on #140
I agree, let's close as wontfix then.

[2016-10-10 15:33] #140 closed

[2016-10-10 15:50] pippinsplugins commented on #125
@mintplugins could you put together the documentation page for this?

[2016-10-11 16:26] mintplugins commented on #125
@pippinsplugins Already done :)

https://github.com/easydigitaldownloads/EDD-Commissions/issues/125#issuecomment-249039634

Doc is ready for review here: https://secure.helpscout.net/docs/5488f10de4b0dc8d3cacdf29/article/57e45200c697910d0784dcf9

[2016-10-19 17:53] davidsherlock opened #152 "Add ability to re-assign commission record(s)"
If a vendor or purchase record is accidentally deleted, the associated commission record(s) become "invalid" due to the lack of database association. There is no way to edit or delete these records from commissions table afterwards to resolve the issue.

It would be useful to have the ability to edit the broken record(s) and re-assign the vendor and purchase IDs to solve this issue.

[2016-10-19 18:59] pippinsplugins commented on #152
You can edit each commission and change the "user Id" field. That would reassign.

[2016-10-19 19:05] davidsherlock commented on #152
You can't actually edit the record once the vendor (user) has been deleted, since the option isn't available within the commissions table. Additionally, there is no way to assign an order id again to a pre-existing record if deleted.

[2016-10-20 20:54] pippinsplugins commented on #152
Ah! My bad, I thought we had already added that.

@ghost1227 let's put this in as part of the new #148 UI

[2016-10-26 20:05] pippinsplugins commented on #148
@ghost1227 how're we coming here?

[2016-10-26 20:09] ghost1227 commented on #148
Got it about halfway done then got refocussed on SL and kinda forgot to finish this. I'll try to get it pushed tomorrow.

[2016-10-26 20:10] pippinsplugins commented on #148
@ghost1227 go ahead and open a PR with WIP. Makes me easier to track :)

[2016-10-26 20:11] ghost1227 commented on #148
Makes you easier to track? Why would anyone want to track Pippin? 😛

[2016-10-26 20:15] pippinsplugins commented on #148
:p

[2016-10-27 15:11] ghost1227 commented on #148
@pippinsplugins Initial view code pushed as promised! Still a lot to do, thus far it's just adding the actions link, migrating code to the new view style, and creating the core of the view.

[2016-10-27 15:14] pippinsplugins commented on #148
@ghost1227 Great, go ahead and open a PR too. Email notifications of new commit pushes only get sent if a PR is open.

[2016-10-27 15:15] ghost1227 commented on #148
Done

[2016-10-29 14:14] brashrebel opened #154 "Replace ID input with user lookup select field"
In the edit downloads screen meta box the field for assigning commission to a user requires a numerical ID to be entered. This could be made a lot easier to use by converting the field to a user search + select field. That way there would be no requirement of looking up user IDs manually elsewhere.

[2016-11-03 21:02] SDavisMedia commented on #138
It's working well for me. :+1:

<img width="276" alt="screenshot 2016-11-03 14 02 41" src="https://cloud.githubusercontent.com/assets/2359131/19985075/347ff97c-a1ce-11e6-817d-7e36c2ecc3ad.png">

[2016-11-03 22:43] #138 closed

[2016-11-04 23:38] cklosowski opened #155 "Styles for rich editor is broken"
Reported here https://secure.helpscout.net/conversation/272656940/45937/?folderId=180499

If you enable EDD and Commissions only, the Rich editor is broken in EDD settings

With Commissions:
![screen shot 2016-11-04 at 4 37 40 pm](https://cloud.githubusercontent.com/assets/1390124/20025606/1cc60a8a-a2ad-11e6-980a-61b3d3a0aaa3.png)

Without Commissions:
![screen shot 2016-11-04 at 4 38 30 pm](https

[2016-11-05 00:00] cklosowski commented on #155
This is caused by us loading the commissions email settings into the main section, which is throwing off the email subsections. I'm creating a emails subsection for commissions which should resolve this.

[2016-11-05 18:29] rubengc opened #157 "Comission rate by user"
Allow set a commission rate to specific user

Examples:
If you are a vendor of your own store, then you will need set your commission to 0%
For promotional purposes like, become one of the first vendors and get X% less commissions

[2016-11-05 18:31] chriscct7 commented on #157
This already exists. You can set a user's commission rate on their profile right above the paypal email field for them

[2016-11-05 18:31] #157 closed

[2016-11-05 18:35] rubengc commented on #157
I looked in vendor's profile instead of user's profile, my fault

[2016-11-05 18:39] rubengc commented on #157
I cannot set user global rate as 0

[2016-11-05 18:48] chriscct7 commented on #157
Use 0.00 instead of 0

[2016-11-05 18:54] rubengc commented on #157
With 0.00 works, thanks @chriscct7

[2016-11-06 17:54] pippinsplugins commented on #155
Looks good to me!

[2016-11-06 17:54] #155 closed

[2016-11-07 20:52] SDavisMedia opened #158 "Account for fee adjustments in commission record"
Example, using something like Points & Rewards can add a negative fee to the cart, reducing the price page for products. However, Commissions will still record based on the full price of the product. Store owners are basically losing money.

A ticket: https://secure.helpscout.net/conversation/274061926/46211/?folderId=180504

[2016-11-08 16:20] rahilwazir opened #159 "Member has private access"
Whenever I try to open my WordPress project in PHPStorm IDE with the following plugins:
- Easy Digital Downloads
- Easy Digital Downloads - Commissions

I get an error on file [includes/admin/class-batch-commissions-payout.php](https://github.com/easydigitaldownloads/EDD-Commissions/blob/master/includes/admin/class-batch-commissions-payout.php#L233):
![screenshot from 2016 11 08 21 14 15](https://

[2016-11-08 16:30] pippinsplugins commented on #159
Thanks for the report! We'll get that resolved.

[2016-11-08 18:04] cklosowski commented on #158
This should be able to be done without any changes to EDD core. `EDD_Payment->cart_details` will contain any fees associated with an item, and from there you should be able to simply look for the adjustments needed before entering in a commission record.

:+1: for this moving forward.

[2016-11-08 18:07] cklosowski commented on #158
In the case of points and rewards, I think we should be able to determine the amount a negative fee accounts for each item in the cart. We've done this before with get item discounted amount in Core, would just need to look at how we did that logic and get the total reduced amount based off a cart wide fee before striking the commission amount.

[2016-11-08 18:09] chriscct7 commented on #158
We should be able to reuse the same code in PayPal Adaptive used to split who gets how much on a percentage basis for this

[2016-11-11 19:56] pippinsplugins commented on #125
@mintplugins I've just run through a bunch of tests here and everything is working really nicely. I tested every variation I could think of and it all worked great! And unit tests pass :)

We'll need a sign off from @cklosowski and @SDavisMedia before we can merge this into `release/3.5` but looks like it should be good to go!

Nice work!

[2016-11-11 20:13] mintplugins commented on #125
So good to hear! Thank you!

[2016-11-12 00:03] davidsherlock opened #160 "Missing Span ID + Legend Wrap"
The "PayPal Email Address" heading is missing a Span ID and Legend wrap, meaning the heading can't be targeted for styling to match the other form elements on the EDD Account page.

[2016-11-13 21:36] davidsherlock opened #161 "Commissions Record Notes"
When a commission is revoked, it would be useful to have the ability to attach a short note to the commission record giving the vendor a reason why it was revoked, such as a chargeback, refund or partial refund request by the customer.

[2016-11-15 17:31] SDavisMedia commented on #125
@mintplugins This is on my radar. Been in an open tab for a few days. I should be able to read up and test soon.

[2016-11-22 21:57] mintplugins commented on #158
This should likely be optional. In the case where a store wants to pay the full commission amount to a Vendor, they could check a box saying "ignore discounts when calculating commissions" or something like that.

[2016-11-23 19:03] pippinsplugins commented on #160
We'll get that fixed in the next point release.

[2016-11-24 12:41] davidsherlock opened #162 "Columns Filter Missing"
I needed to append additional data to the CSV export the vendors receive for their paid commissions, however from what I can see there are similar filters available to add the data however there is no filter available to add the actual columns.

The filter would need to go in the csv_cols() method of the EDD_Commissions_Export class. This is inside the includes/class-commissions-export.php file of

[2016-11-24 18:57] davidsherlock opened #163 "Empty CSV Export"
Within the FES vendor earnings tab, the vendors are able to export "Paid Commissions". However if a vendor selects a month with no commissions a blank file is downloaded.

Better logic would be to only show the months/years valid to that vendor (with past paid commissions) and skip downloading a redundant empty CSV file.

[2016-11-26 00:46] rubengc opened #164 "Generate commission button"
Its simple, from download commission metabox add a button to automatically generate a commission based on current download, post author, rate and total amount (based on user applied commission rate)

This is no a really common desire but it will awesome (and reducción of work) if it was implemented

[2016-11-29 00:40] pippinsplugins commented on #164
This would be nice to have.

[2016-11-29 00:41] pippinsplugins commented on #163
I haven't looked into it yet but I suspect this is a bug in FES, not Commissions since the Vendor reports are built via FES.

[2016-11-29 00:41] pippinsplugins commented on #162
There are filters in the base classes that `EDD_Commissions_Export` extends :)

[2016-11-29 15:04] davidsherlock opened #165 "Store Commissions"
The EDD iOS app has support for "Store Commissions" which is a useful metric for pure marketplace model based sites.

If commissions is installed, it would be useful to have the Sales Summary dashboard widget display the store commissions as an additional line for quickly reviewing true "earnings".

Additionally other plugins such as email reports could feature this metric.

[2016-12-05 08:43] rubengc opened #166 "More getaways support"
Some of my vendors are from Ukranie and Paypal does not allows to send payments to accounts from this country

The most flexible option is set as user fields eddc_account (email or username from the platform) and eddc_getaway(Paypal, Skrill, Stripe, etc)

And allow, on export, filter by the user field eddc_account to separate accounts from differents getaways

[2016-12-05 20:59] pippinsplugins commented on #161
@davidsherlock do you mean in the vendor dashboard or on the vendor order details screen?

[2016-12-05 21:01] pippinsplugins commented on #166
We do hope to do this through a more robust payout API we're adding in the future.

[2016-12-09 22:33] davidsherlock opened #167 "Widget ID Issue"
On line 169 of widgets.php, the ID isn't set correctly.

`<div id"edd_commissions_export">`

Should be:

`<div id="edd_commissions_export">`

[2016-12-12 22:46] davidsherlock commented on #166
@pippinsplugins, can MassPay payments be sent directly from the commissions plugin? I noticed the file class-paypal-masspay.php, but wasn't sure how to access this functionality.

[2016-12-12 22:52] chriscct7 commented on #166
Masspay is not enabled no

On Mon, Dec 12, 2016 at 5:46 PM, David Sherlock <notifications@github.com>
wrote:

[2016-12-13 00:38] pippinsplugins commented on #166
@davidsherlock In the future that will be the planned (though it will use the REST API) but not at the moment.

[2016-12-13 15:46] davidsherlock opened #168 "Paid Commission CSV Export Issue"
The paid commission export CSV isn't displaying the product variations within the "Product" column, just the primary download name.

[2016-12-13 15:47] davidsherlock commented on #168
Similarly the actual commission tables (paid, unpaid and revoked) also don't display the product variation name just the primary download title.

[2016-12-13 15:54] davidsherlock opened #169 "Commisions Product Variation Name Issue"
The commission tables (paid, unpaid and revoked) don't display the product variation name just the primary download title, making it difficult for vendors that sell different licenses/product variations hard to interp their sales/metrics.

[2016-12-13 16:03] davidsherlock opened #170 "Admin Commissions Layout/CSS Issues"
Within the FES vendor card view you can view the commissions, however the tables and overall presentation of the layout is messy compared with the other panels/tabs.

Here is a screenshot of what I see as an example:

![screenshot 2016-12-13 15 57 02](https://cloud.githubusercontent.com/assets/22668877/21147449/f864b218-c14c-11e6-8b90-3d48cf1f71ed.png)

Some basic padding and layout fixes would re

[2016-12-27 07:48] rubengc opened #171 "Hooks for new fields"
Hi

I need (by EU law) record the commissions amounts I paid to vendors in EUR for accounting

I know this is a specific feature so I am developing this by myself, but when I tried to add new columns on commissions list and on commision edit page I did not found any hook to add new fields

I know this is precipitate but, could be possible to add this hooks as soon as possible? (accounting limit da

[2016-12-27 07:55] rubengc commented on #171
To make it more quickly I will add where hooks could be:

On includes/admin/edit.php inside <tbody> could be here an action with `edd_commission_form_fields_top` and `edd_commission_form_fields_bottom`

On includes/EDD_C_List_Table.php could be:
- on get_columns() a filter with `manage_edd_commissions_columns`
- on column_default() a filter with `manage_edd_commissions_custom_column`

[2016-12-28 16:06] davidsherlock commented on #171
@rubengc, can you provide more background on this please? I am not following this feature request exactly.

I see your store is in US dollars, you need to store the current EU conversation rate for the commissions paid?

[2016-12-28 16:26] rubengc commented on #171
Yes, any transaction need to be converted in EUR (with the conversion value of the date when this transaction happens)

I have a plugin that handles this conversion on payments (and now I have it on commission) but to make It work(or at least make meta fields visible on lists and editables pm editado view) I need add those hooks

I have a PR ready but need confirmation from a member of EDD team

T

[2016-12-28 16:37] davidsherlock commented on #171
@rubengc, I understand now. So the conversion value (rate) and calculatedamount are stored with this extension?

I actually did something similar myself and wrote a function to store the actual item sale price (after discounts/taxes) on a per commissions basis with each new commission record created. So I agree with you here, this would be useful to have.

Are you going to post your add-on on GitH

[2016-12-31 05:33] chriscct7 opened #173 "Commission % on bundle renewals is wrong"
If you make a bundles product (must be bundle) buy it, and then renew it, and use the shortcode for commissions, on the renewal order if the order costs $15, and the coission amount is $10, the commissions column correctly shows $10 but the percentage column always is the number in the commission amount column and then a percentage sign, so in this example 10% not the correct 66.7%.

If the order

[2016-12-31 05:37] chriscct7 commented on #173
Sidenote, if the commission amount is over $100, the commission percentage will literally show like 110% and stuff. I think somewhere the function used to get this percent is pulling the amount and just appending a percent sign to it for renewals of bundles

[2016-12-31 05:43] chriscct7 commented on #173
eddc_get_recipient_rate() seems to be saving the bad percentage value into the commissions meta info meta key

[2016-12-31 05:47] chriscct7 commented on #173
The more I look at this the more I don't understand how this function is handling flat vs percentage based commission amounts. If the commission rate is defined on the product in percentage then returning whatever that number is and appending a % sign to it is okay. But if it's a flat amount I don't see how this is calculating the percentage of the commission vs the order total and returning that

[2017-01-02 01:00] davidsherlock opened #174 "Commissions Export/Reporting Functionality"
Within EDD Reports screen it would be useful to have the ability to export all the commissions records for a given date range and status (paid, unpaid and revoked), should the commissions plugin be installed.

The export would effectively contain what is currently shown on the commissions list within the admin panel.

[2017-01-02 01:09] davidsherlock opened #175 "Pagination Support"
Having the ability to set the number of items per page shown on the commissions would be useful for verifying you aren't leaving any commissions unpaid for a given date period.

[2017-01-03 21:32] pippinsplugins commented on #154
Related #93

[2017-01-05 21:47] mintplugins opened #176 "Make batch payouts use commission currency."
When generating a batch payout in EDD_Batch_Commissions_Payout, if your commissions happen to have different currencies, all commissions are generated to have the same currency because of the customer's key in the array.

If the key was set to combine the user's email and the currency of the payment, a separate payout could be generated for each currency.

https://github.com/easydigitaldownloads/E

[2017-01-06 11:07] ghost1227 opened #178 "Bring order to our file / folder structure"
We just went through this with Software Licensing, but Commissions is just as bad, if not worse.

[2017-01-06 11:07] ghost1227 commented on #178
@pippinsplugins Thoughts?

[2017-01-06 17:22] ghost1227 commented on #148
@pippinsplugins I did a refresh and update of this earlier this morning... also changed how the top table is built. Not sure you're going to like it, but the redundancy and inflexibility was driving me nuts.

[2017-01-06 19:54] pippinsplugins commented on #178
Yes let's do it.

[2017-01-06 19:56] pippinsplugins commented on #148
@ghost1227 please go ahead and make a `release/3.3` branch and update the PR for that branch.

[2017-01-06 19:59] pippinsplugins commented on #148
@ghost1227 this view will also need to include edit capabilities.

[2017-01-07 03:21] mintplugins commented on #176
https://secure.helpscout.net/conversation/300213985/50215/

[2017-01-07 05:58] ghost1227 commented on #148
Oops, I actually built it against `release/3.3` but accidentally submitted against `master`. What all should be editable? Also, right now it's literally mimicking the functionality of the table itself... do we want to remove anything from the table?

[2017-01-07 18:30] pippinsplugins commented on #148
Take a look at the fields editable in `master`. Same ones need to be editable.

[2017-01-08 00:51] mintplugins commented on #125
@SDavisMedia Just a little bump. If you end up with some spare cycles I'd love to get your eyes on this.

[2017-01-09 20:33] ghost1227 commented on #148
@pippinsplugins Added field editing to the card view, along with core actions. `master` has functions for manually adding a commission, but I don't see any way of actually triggering that process?

[2017-01-09 20:34] pippinsplugins commented on #148
@ghost1227 There used to be an `Add New` button. Let's please go ahead and build that out too.

[2017-01-09 20:35] ghost1227 commented on #148
Ok

[2017-01-09 21:13] ghost1227 commented on #148
@pippinsplugins Done!

[2017-01-09 21:18] pippinsplugins commented on #148
@ghost1227 Could we get periods at the end of each field description on the screen please?
![screen shot 2017-01-09 at 3 17 57 pm](https://cloud.githubusercontent.com/assets/1034109/21783902/dd58ed76-d67e-11e6-9dff-f76d5cf0bbd0.png)

Also the add new screen needs to include a status drop down.

[2017-01-09 21:19] pippinsplugins commented on #148
Since we're here, let's go ahead and add chosen drop downs for the user and download fields please.

[2017-01-09 21:19] ghost1227 commented on #148
Roger that!

[2017-01-09 21:24] mintplugins commented on #148
Could you add non-editable fields for the product and price id? I think it would be useful to admin checking to see for-which product the commission was generated.

[2017-01-09 21:25] mintplugins commented on #148
Oh and also the currency of the commission

[2017-01-09 21:33] ghost1227 commented on #148
@mintplugins Product and price ID are there....

[2017-01-09 21:38] ghost1227 commented on #148
Aren't currencies standardized to whatever EDD itself is set for?

[2017-01-09 21:40] mintplugins commented on #148
@ghost1227 Oh my bad. I see Download - is the Price ID included in that? Currencies for Commissions can be set individually. See:

https://github.com/easydigitaldownloads/EDD-Commissions/blob/57890b12edeb14da870bbc0a716102be5c697320/includes/integrations/paypal-adaptive-payments.php#L54

[2017-01-09 21:42] ghost1227 commented on #148
@mintplugins yes, it includes price ID/variation when applicable.

[2017-01-09 21:44] ghost1227 commented on #148
RE: currencies, I see that field in the AP integration (which is all but dead now given the recent PayPal changes), but I don't see a way to change/set that in the dashboard. As far as I can see, it's basically an unused field?

[2017-01-09 21:47] ghost1227 commented on #148
@pippinsplugins Do we want to get rid of any of the existing table fields since the same exact data is duplicated in the card view now?

[2017-01-10 01:31] mintplugins commented on #148
It seem that some customers are using it in conjuntion with the Aelia Currency converter plugin - though I am not sure exactly how. This customer in particular: https://secure.helpscout.net/conversation/300213985/50215/?folderId=180504

[2017-01-10 02:11] ghost1227 commented on #148
@pippinsplugins Thoughts on that?

[2017-01-10 22:04] pippinsplugins commented on #148
@ghost1227 No, I don't think any of the table data should be removed.

We do need to enable currency support.

[2017-01-11 20:25] ghost1227 commented on #148
@pippinsplugins added currency field. Anything else?

[2017-01-11 20:27] ghost1227 commented on #148
<img width="759" alt="screen shot 2017-01-11 at 2 26 55 pm" src="https://cloud.githubusercontent.com/assets/36433/21865052/0c25e9f6-d80a-11e6-9499-f3afbb0c88c7.png">

[2017-01-11 20:30] pippinsplugins commented on #148
Is having each field have a separate edit link too much? I think we should have a single edit button that reveals the fields for each item.

[2017-01-11 20:31] ghost1227 commented on #148
Doesn't matter much to me. I added the individual edit links to keep it uniform with how the other cards are displayed.

[2017-01-11 20:35] SDavisMedia commented on #148
I'm with Pippin.

[2017-01-11 21:07] ghost1227 commented on #159
@pippinsplugins took a look at the classes in question, and it seems to me that we have two options:

1. Make `$file` public
2. Add a method to return the value of `$file`

In either case, it appears this needs to be handled in core, not Commissions.

[2017-01-11 22:36] ghost1227 commented on #93
@pippinsplugins Here's what I've got so far on a reworking of this meta box. Haven't rewritten all the calculation logic yet, but loading/saving work, as does adding/removing rates. I'd suggest that this rewrite negates the need for a separate issue for #154.

<img width="787" alt="screen shot 2017-01-11 at 4 34 42 pm" src="https://cloud.githubusercontent.com/assets/36433/21869171/e3d7bb7a-d81b-11

[2017-01-11 22:38] ghost1227 commented on #93
@mindctrl You might want to weigh in as well.

[2017-01-11 23:22] pippinsplugins commented on #93
@ghost1227 That's looking good! Is it backwards compatible with previous data?

[2017-01-11 23:25] pippinsplugins commented on #159
Make it `protected`. That should resolve it.

[2017-01-12 00:32] ghost1227 commented on #93
Yes. Right now, it doesn't have an actual upgrade routine... for testing purposes, I've got it running a pseudo-upgrade on first load of any given download, but that's obviously not ideal long run. Once the actual coding is done, I'll add an upgrade routine that will update existing data to the new format.

[2017-01-12 00:33] ghost1227 commented on #159
@pippinsplugins But that's still a bug with EDD core, not Commissions... as far as I can tell. Or am I missing something? Just want to make sure that I'm looking at it right (and need to open an issue on core repo to resolve this).

[2017-01-12 14:27] mindctrl commented on #93
@ghost1227 looks nice!

[2017-01-12 18:52] pippinsplugins commented on #93
@ghost1227 If possible please make it work with the existing data formats so that no upgrade routine is required.

[2017-01-12 18:55] ghost1227 commented on #93
@pippinsplugins The existing data format is a comma separated string (for both fields). We'd have to write a custom save handler to convert back and forth...

[2017-01-12 18:57] pippinsplugins commented on #93
That's fine. It's easy to convert a comma separated string into an array.

Make a helper function that converts from and one that converts to.

[2017-01-12 19:32] ghost1227 commented on #125
@pippinsplugins This gets a +1 from me! Works great! (can we get this merged sooner rather than later, it's gonna cause killer merge conflicts if we wait long)

[2017-01-12 23:58] pippinsplugins commented on #159
@ghost1227 Do what is necessary to get it fixed, so open a new issue / PR in core if that's what it takes.

[2017-01-13 17:07] pippinsplugins commented on #125
Just waiting on a test from @SDavisMedia and a code review from @cklosowski

[2017-01-13 17:09] ghost1227 commented on #125
I'd like to get this tagged as a priority. It's going to wreak havoc with a ton of the other open issues when it comes to merge conflicts. Better to get it merged first if we can.

[2017-01-13 17:26] SDavisMedia commented on #125
Yea I'm on it today.

[2017-01-13 17:45] ghost1227 commented on #125
Thanks sean!

[2017-01-13 18:53] cklosowski commented on #125
Code review complete, some changes requested.

[2017-01-13 23:53] mintplugins commented on #125
@cklosowski Thanks :) Changes committed!

[2017-01-17 21:27] cklosowski commented on #125
If this is all working for you as expected, I'm good with the code changes from a code perspective.

[2017-01-18 19:53] mintplugins commented on #125
@cklosowski Ran another test and it is all working for me here.

[2017-01-18 21:05] mintplugins commented on #125
@SDavisMedia Sorry to be a pain but I just want to keep this on your radar if you get a spare moment.

[2017-01-23 22:08] ghost1227 commented on #93
@pippinsplugins Ok, I wrote a helper function but in hindsight, I'm not 100% confident I'm doing what you actually want... Right now I've got it always storing as a string, converting to and from string to array for display. Seems less than optimal. Is that where you wanted to go?

[2017-01-24 03:59] pippinsplugins commented on #93
Yep that's what I wanted! Can you show me an updated PR?

[2017-01-24 18:04] ghost1227 commented on #93
@pippinsplugins There's the code so far. Seems to work!

[2017-01-24 18:22] pippinsplugins commented on #93
Great, let's get some testing on it soon after core 2.7 is released!

[2017-01-24 18:25] ghost1227 commented on #93
I'll note that there is some temporary code in it at the moment. In issue #148 I reworked how Commissions loads styles, allowing it to load on pages other than the settings page. Until that change is merged, this issue has a temporary block to bootstrap loading assets allowing the new JS to load in the right place.

[2017-01-24 18:29] ghost1227 commented on #93
This also definitively resolves #154

[2017-01-25 05:30] SDavisMedia commented on #125
Oh hi guys was I supposed to be testing something? :P

--

Alright I tested everything I could think of. Here's what I found:

#### Commissions Only

All calculations look good with all settings. I tested percentage commissions, flat commissions, multiple users receiving commissions both percentage and flat ... also calculations based on Subtotal, total with taxes, and total without taxes. Everyth

[2017-01-25 15:45] mintplugins commented on #125
@SDavisMedia Awesome stuff. Thanks for making these tests happen. Glad to hear everything is working as expected.

Regarding Flat Rate Commissions, that is by design. To avoid user confusion, what should probably happen is that the Commissions+Shipping settings only show if Shipping is enabled and the Commission Type is percentage. What we could do is load a new JS file only if Shipping and Commis

[2017-01-25 16:02] mintplugins commented on #125
@easydigitaldownloads/core-devs Let's do a vote:

🎉 = Add JS now to hide/show shipping options only when they make sense
👍 = To merge this as-is and add JS if/when customers come to us with confusion about flat rates.

[2017-01-25 17:03] pippinsplugins commented on #148
@ghost1227 could we fix the "jump" that happens when clicking the edit link please?
![screen shot 2017-01-25 at 11 03 04 am](https://cloud.githubusercontent.com/assets/1034109/22300713/f4cf76c0-e2ed-11e6-807f-3480ed29db0b.png)
![screen shot 2017-01-25 at 11 03 10 am](https://cloud.githubusercontent.com/assets/1034109/22300714/f4d00f40-e2ed-11e6-87b7-e0fd22468511.png)

[2017-01-25 17:04] pippinsplugins commented on #148
Hard to see in those screenshots, but the edit view has the right column shifted to the left by about 10-20px.

[2017-01-25 17:05] pippinsplugins commented on #148
`Purchase Date` should be `Created Date`.

[2017-01-25 17:05] pippinsplugins commented on #148
Let's also please capitalize the first letter of the status value.

[2017-01-25 17:19] mintplugins commented on #125
JS Added. It will only show the Shipping Split options if all of the following are true:

1. Shipping is enabled
2. Commissions are enabled
3. Percentage Type is selected.

@SDavisMedia If you could do one more quick test of this that would be awesome.

Commit:
https://github.com/easydigitaldownloads/EDD-Commissions/pull/130/commits/31e7aa3e777c5fb0004b3b1d31980990a21cee7e

[2017-01-25 17:24] pippinsplugins commented on #93
@ghost1227 This is working beautifully!

A few todos:

1. Please add a tool tip to the rate field that explains that the user's rate and the global rate will be used if no rate is entered:
![screen shot 2017-01-25 at 11 08 05 am](https://cloud.githubusercontent.com/assets/1034109/22300910/a6f6a3c8-e2ee-11e6-8989-d1ca881eb58d.png)

2. Let's add a tool tip to `Type` as well that better explains with

[2017-01-25 17:27] ghost1227 commented on #148
I'm having a compatibility issue with 2.7+ card tabs that I can't figure out. @pippinsplugins any thoughts?

<img width="838" alt="screen shot 2017-01-25 at 11 26 13 am" src="https://cloud.githubusercontent.com/assets/36433/22301557/21574864-e2f1-11e6-97d0-3f549c6417c0.png">

[2017-01-25 17:29] ghost1227 commented on #148
Also, knew about the width issue but haven't been able to track down the cause. Thoughts would be appreciated.

[2017-01-25 17:31] ghost1227 commented on #148
@SDavisMedia Thought I should ping you on the tab issue too since that's your baby... Copied the formatting from SL, tab titles don't show.

[2017-01-25 17:35] pippinsplugins commented on #148
@ghost1227 ignore that issue. It's a known issue that is happening because we haven't incremented version numbers in core yet. Test against master for now please.

[2017-01-25 17:40] ghost1227 commented on #148
That makes sense! Roger that!

[2017-01-25 17:44] ghost1227 commented on #148
Ok, the width issue exists in _some_ state if any of the card content changes. Even simply changing the link text from `Edit Commission` to `Cancel Edit` triggers a width change.

[2017-01-25 17:46] ghost1227 commented on #148
@pippinsplugins Just checked, the same width/resize issue exists in other cards that have dynamic fields (notably Software Licensing)

[2017-01-25 18:30] pippinsplugins commented on #148
@ghost1227 how about hard-coding the width of the left column? That should fix it.

[2017-01-25 18:37] ghost1227 commented on #148
@pippinsplugins I'd thought about that. Do we want to do it through css or inline? Inline means we have to adjust other tables, but adding it to our CSS could screw with things we don't want to if we don't target specifically enough.

[2017-01-25 18:40] pippinsplugins commented on #148
CSS please

On Wed, Jan 25, 2017 at 12:37 PM, Ghost1227 <notifications@github.com>
wrote:

[2017-01-25 20:26] ghost1227 commented on #148
Fixed the CSS bug [here](https://github.com/easydigitaldownloads/easy-digital-downloads/issues/5414)

[2017-01-25 20:26] ghost1227 commented on #148
@pippinsplugins

[2017-01-25 20:42] SDavisMedia commented on #125
@mintplugins Everything's looking good my way. Can't break it. :+1:

[2017-01-25 21:30] mintplugins commented on #125
@easydigitaldownloads/core-devs Officially requesting merge of:

https://github.com/easydigitaldownloads/EDD-Commissions/pull/130

[2017-01-25 21:39] pippinsplugins commented on #125
Fantastic!

[2017-01-25 23:38] SDavisMedia commented on #148
This card view doesn't appear to be complete in terms of matching the new structure. Look at the border inconsistency here:

![screenshot 2017-01-25 15 38 05](https://cloud.githubusercontent.com/assets/2359131/22314009/519d3f9c-e314-11e6-8696-9b930a26690c.png)

Give me a second to look into what's wrong there as well as the page jump PR for EDD core.

[2017-01-25 23:51] SDavisMedia commented on #148
Ignore that. ^^^ All good here. I had problems pulling down.

[2017-01-26 00:50] SDavisMedia commented on #148
I'm not sure I like the tab titles. One of the goals of this new view is to actually show tab text but also make the overall page easier to follow. In introducing the full page title, it allows us to be brief on the tabs.

Like SL:
![screenshot 2017-01-25 16 44 57](https://cloud.githubusercontent.com/assets/2359131/22315789/c0cd79be-e31d-11e6-91e3-02b0554618e3.png)

And FES:
![screenshot 2017-01-2

[2017-01-26 00:52] SDavisMedia commented on #148
And also a different icon for the top tab there. I think the lock was carried over from SL.

[2017-01-26 03:11] ghost1227 commented on #148
@SDavisMedia You're right, the lock was a carry over. I also set up the text before actually considering the title tabs. I haven't reworked yet, but I know it needs to be done. Definitely up for ideas on a 'good' icon for the main tab!

[2017-01-26 04:24] SDavisMedia commented on #148
@ghost1227 okay sweet deal!

Wow, man... the dashicon choices we have are pretty limited. Here's what FES is using for commissions: https://developer.wordpress.org/resource/dashicons/#products It's actually `products`. I guess that makes sense. Probably the best and most relevant choice on the page.

[2017-01-26 15:57] mintplugins commented on #125
Merged! 🎉 🎉 🎉 🎉 🎉

[2017-01-26 15:57] #125 closed

[2017-01-26 16:32] davidsherlock opened #180 "Commissions Graph"
The commissions graph is pretty much unusable as the pagination breaks the functionality of it regardless of where it's output via the shortcode.

Additionally the graph needs to be easier to style, at the minute it appears to inherit from the Wordpress graph making it difficult to adapt.

[2017-01-26 16:43] davidsherlock commented on #161
@pippinsplugins, I mean on the commission record itself, however it will be accessible to view the note via a link (or tooltip) within the commission tables themselves.

For example, let's say a commission is revoked, if the marketplace/site is in charge of refunds the vendor will have no idea why it was revoked unless he contacts the site administrator directly. It would be more useful to have th

[2017-01-27 04:11] pippinsplugins commented on #161
Makes sense, thanks!

[2017-01-27 15:49] pippinsplugins commented on #180
@davidsherlock which pagination? The pagination for an existing WP page or the pagination of the commissions shortcode?

Which WordPress graphs? Could I see a screenshot of the style inheritance you're seeing?

[2017-01-27 17:32] ghost1227 commented on #93
Reminder: Anyone who reviews this issue leave feedback on tooltip content.

[2017-01-27 17:52] pippinsplugins commented on #93
See PR

[2017-01-27 19:01] ghost1227 commented on #93
Updated

[2017-01-27 19:14] pippinsplugins commented on #93
:+1:

[2017-01-27 22:59] davidsherlock commented on #180
@pippinsplugins, I should have been clearer on this one. When the commission graph is placed on a standard page it works as intended, however it makes the most sense to add it to the FES dashboard via a template modification (either on the main dashboard page or earnings page).

However if the page has pagination (like the dashboard homepage with the comments), it breaks the functionality of the g

[2017-01-28 16:44] davidsherlock opened #181 "Tiered Commission Rates"
An automatic tiered commission rate system similar to what AffiliateWP has (https://affiliatewp.com/add-ons/pro/tiered-affiliate-rates/) would be awesome to have for.

[2017-01-31 21:43] ghost1227 commented on #159
This is ready for testing (and should be resolved) once https://github.com/easydigitaldownloads/easy-digital-downloads/issues/5427 is closed.

[2017-01-31 21:44] ghost1227 commented on #154
@pippinsplugins Since this is resolved with #93 already, I propose closing this issue.

[2017-01-31 21:45] ghost1227 commented on #152
@pippinsplugins unless I'm misunderstanding, this is already included in #148

[2017-01-31 21:45] pippinsplugins commented on #176
I _think_ the PR is right but need to test to confirm.

[2017-01-31 21:47] ghost1227 commented on #143
@pippinsplugins I spent a while experimenting today, but couldn't replicate this issue. If it's only one user on a specific site, I'd suggest this may not be on our end. Either way, I'd propose dropping the current milestone and just leaving the issue open until it can either be reproduced or we receive further reports of it happening.

[2017-01-31 21:48] ghost1227 commented on #176
It works in my tests (assuming one currency), but I'll admit I haven't tested against multiple currencies for a given user.

[2017-01-31 22:07] #167 closed

[2017-01-31 22:08] #159 closed

[2017-01-31 22:08] pippinsplugins commented on #154
I agree.

[2017-01-31 22:08] #154 closed

[2017-01-31 22:09] pippinsplugins commented on #152
Yes it is.

[2017-01-31 22:09] pippinsplugins commented on #143
:+1:

[2017-01-31 22:09] pippinsplugins commented on #176
@ghost1227 please go ahead and set up a multi currency test.

[2017-01-31 22:13] pippinsplugins commented on #180
Ah. Thanks.

We may be able to address that.

[2017-02-02 19:45] ghost1227 commented on #100
@easydigitaldownloads/core-devs I haven't been able to reproduce this. Could this have already been resolved? Can anyone else reproduce it?

[2017-02-02 19:45] ghost1227 commented on #176
Works for me!

[2017-02-02 20:10] ghost1227 commented on #100
However... I have managed to make it fail to export consistently... As of now, it's timing out for me semi-frequently.

[2017-02-02 20:23] ghost1227 commented on #79
@pippinsplugins Not sure if it's the same issue or not, but my last few attempts to export have resulted in an endless spinner and no export. Doesn't actually throw that error for me, just never successfully exports.

[2017-02-02 22:18] pippinsplugins commented on #79
@ghost1227 ok try and track it down please.

[2017-02-02 22:18] pippinsplugins commented on #100
I've never seen this happen on any of our sites or from any other customers. I vote we close as invalid.

[2017-02-02 22:18] #100 closed

[2017-02-02 22:20] pippinsplugins commented on #176
@mintplugins could you test the  PR as well?

[2017-02-04 00:06] cklosowski commented on #113
Not tested yet, but UX is in place and helper functions in place.

[2017-02-04 00:07] cklosowski commented on #113
Will be testing this first thing next week, or over the weekend if I get a chance.

[2017-02-04 23:34] pippinsplugins commented on #113
Is this different from #102?

[2017-02-05 13:33] davidsherlock opened #184 "Commission record re-assignment"
The commission records currently lack the ability to re-assign them if a purchase order (transaction) is deleted. Similarly if a user is deleted and the records need to be re-assigned.

[2017-02-06 18:27] pippinsplugins commented on #79
I haven't seen this happen in a while on our sites.

@ghost1227 do your exports still spin endlessly?

[2017-02-06 18:28] ghost1227 commented on #79
@easydigitaldownloads/core-devs I'm struggling to consistently reproduce either form of this issue (the message @pippinsplugins is seeing, or the endless spinner i've been seeing). Anyone with a few moments, please chime in on thoughts, etc. (Especially @cklosowski)

[2017-02-07 14:22] davidsanders commented on #132
This is a feature my client is requesting. Any chance we could have this bumped up in the queue? Seems relatively easy to do as the override mechanism is already in place at a more granular level for product.

[2017-02-07 14:24] davidsanders commented on #132
@pippinsplugins This is a feature my client is requesting, and the last feature to check off for us to dive into the EDD eco-system for their marketplace. Any chance we could have this bumped up in the queue? It would seem relatively easy to do as the override mechanism is already in place at a more granular product level.

[2017-02-07 14:24] davidsanders commented on #181
@pippinsplugins / @davidsherlock or at the user role level, which ever is easiest.

[2017-02-07 14:42] pippinsplugins commented on #132
@davidsanders We can maybe look at it further after the 3.3 release is completed.

In the mean time, are you familiar with the per-user rates that can be set?

[2017-02-07 14:42] pippinsplugins commented on #181
Related #132

[2017-02-07 15:10] davidsanders commented on #132
@pippinsplugins yes we're aware of the product level override. However, at scale, this will be an arduous manual process to update dozens of products, individually, as it correlates to a vendor's membership level (role). Is the commission rate stored at the product meta level such that it could be set via an externalized script?

[2017-02-07 16:43] ghost1227 commented on #82
I can only replicate the starting date bug. ending date seems to be working fine for me.

[2017-02-07 16:49] ghost1227 commented on #82
I'll admit to being a bit lost on this one. Given his recent work on the core reporting, might want to get @sunnyratilal involved here.

[2017-02-07 16:52] ghost1227 commented on #83
I can't replicate this either locally or on the EDD site, @pippinsplugins have you actually seen this?

[2017-02-07 16:57] ghost1227 commented on #135
@pippinsplugins I'm hesitant to attempt anything here. I've gone through all 69 instances of `get_post_meta` in Commissions currently and I'm honestly not positive which of the remaining instances have been replaced with `edd_get_payment_meta`.

[2017-02-07 22:06] cklosowski commented on #113
Nope Same thing, I think we must have missed #102 when we were making the list of 2.4 issues we needed to do.

[2017-02-07 22:15] cklosowski commented on #102
Closing as a duplicate of #113. Work was already started there.

[2017-02-07 22:15] #102 closed

[2017-02-07 22:55] cklosowski commented on #113
Ok @easydigitaldownloads/core-devs this is ready for testing. I've gone through and made sure things were working. Just need some extra eyes to see if I missed anything.

[2017-02-07 22:59] cklosowski commented on #113
Things to test:
1) That the overall setting is respected (Downloads>Settings>Extensions>Commissions).
2) When 1 is enabled, that the download specific setting is respected (In Commissions Settings of download metabox)
3) That all the hiding/showing is correct

[2017-02-07 23:54] cklosowski commented on #135
Looks like there is only `1` instance of using `get_post_meta` for getting payment meta, and it's in the list table. The rest are all downloads or commissions:
![screen shot 2017-02-07 at 4 53 16 pm](https://cloud.githubusercontent.com/assets/1390124/22717032/fd82a720-ed55-11e6-8c89-506c98e76406.png)

![screen shot 2017-02-07 at 4 53 27 pm](https://cloud.githubusercontent.com/assets/1390124/227170

[2017-02-08 00:02] cklosowski commented on #135
Forget me...that one I changed isn't correct. It was a payment ID, but was getting the commission payment Id...I don't see any references to getting payment meta using `get_post_meta`

[2017-02-08 01:59] pippinsplugins commented on #149
This looks great!

[2017-02-08 17:49] mintplugins commented on #93
Just tested this. My user's drop down is currently not showing any users. I have cleared my cache and there are no errors in the js console.

<img width="395" alt="screen shot 2017-02-08 at 12 48 34 pm" src="https://cloud.githubusercontent.com/assets/1638128/22749929/fd7788a2-edfc-11e6-8b8a-4bb9893797e0.png">

[2017-02-08 17:56] pippinsplugins commented on #93
@ghost1227 could you take a look?

[2017-02-08 18:01] pippinsplugins commented on #113
@cklosowski looks really good. A few small changes requested on the PR>

[2017-02-08 18:02] mintplugins commented on #113
For this, we need to set up a commission on a recurring product and check renewal payments to see if commissions are generated, correct?

[2017-02-08 18:02] cklosowski commented on #93
Just as a heads up, this problem is due to the 'Chosen' field being hidden
before it's shown, we show/hide the wrapper we just need to do a
`$(element).css('width', '100%')`, targeting the Chosen Wrapper.

[2017-02-08 18:05] cklosowski commented on #113
@mintplugins Yep, Create a subscription, and go into the subscription details in admin and start manually creating renewal payments (that's how I tested).

But like I said above, there is a global setting to allow recording recurring commissions, so we need to be sure that is respected on both false and true. As well as a product specific level ability to disable the recurring commissions, even if

[2017-02-08 18:26] pippinsplugins commented on #132
3.3 should be completed within next couple of weeks.

[2017-02-08 18:53] ghost1227 commented on #93
I haven't been able to replicate the issue, but it sounds like @cklosowski is right. However, since that field is generated using the HTML elements class I'm not sure how to adjust it on the fly.

[2017-02-08 18:54] ghost1227 commented on #135
Ok, so I wasn't losing my mind. I read through every one twice, but none seemed to be relevant to payment meta.

[2017-02-08 18:56] cklosowski commented on #93
You have to do it when you click the 'enable commissions' for the download.

[2017-02-08 19:01] pippinsplugins commented on #171
I've milestoned this for 3.3 so we can get it in.

[2017-02-08 19:11] ghost1227 commented on #93
@cklosowski That doesn't work right either. If entries are already saved, they don't run through that, and any time you add a new row it reverts to the default width (which would be broken in his case).

[2017-02-08 21:53] cklosowski commented on #113
@pippinsplugins fixed the isseus on the PR.

[2017-02-08 21:55] pippinsplugins commented on #184
This is being fixed with #148

[2017-02-08 21:55] #184 closed

[2017-02-08 22:22] SDavisMedia commented on #113
@cklosowski Everything looking solid for me on `issue/113`. Global setting works. Single product settings override global just fine and can be changed from one renewal payment to the next. All showing/hiding is on point. :+1:

[2017-02-08 22:30] pippinsplugins commented on #113
Let's merge!

[2017-02-08 22:31] #113 closed

[2017-02-09 19:31] pippinsplugins commented on #149
Works perfectly, merged.

[2017-02-09 19:31] #149 closed

[2017-02-09 19:34] pippinsplugins commented on #148
This is looking food to me. I'm going to merge for beta.

[2017-02-09 19:37] pippinsplugins commented on #148
Actually not merging yet. Had a merge conflict.

Could I please get some testing on `issue/148` to make sure I didn't break anything?

[2017-02-09 19:39] pippinsplugins commented on #148
Nvm, pretty big merge conflict.

@ghost1227 could you please work on resolving the merge conflict?

[2017-02-09 19:55] ghost1227 commented on #148
@pippinsplugins resolved

[2017-02-09 20:37] SDavisMedia commented on #148
All's good on my end. :+1:

[2017-02-10 01:40] davidsherlock commented on #171
I second this @pippinsplugins! This would be really useful for both myself and @rubengc as we are building invoicing systems for handling commission payouts.

[2017-02-10 01:52] davidsherlock commented on #171
Before I forget, also having hooks for the FES/vendor front-end tables as well.

[2017-02-10 15:58] mintplugins commented on #176
@ghost1227 What did you do to test this with multiple currencies. Can you give me the steps to test?

[2017-02-10 16:02] mintplugins commented on #148
Testing...

[2017-02-10 16:10] mintplugins commented on #148
I must be doing something wrong. The layout is not right and the "Edit Commission" link appears to do nothing when clicked.

I have cleared my cache and pulled the 2.7 branch of edd.

<img width="784" alt="screen shot 2017-02-10 at 11 09 00 am" src="https://cloud.githubusercontent.com/assets/1638128/22833895/7750a34a-ef81-11e6-8525-e12ab2a8b6cc.png">

[2017-02-10 16:12] ghost1227 commented on #148
@mintplugins you don't have `SCRIPT_DEBUG` enabled do you? 😉

[2017-02-10 16:31] mintplugins commented on #148
Not sure why but I can't get it to work in Chrome. However in Safari and Firefox it's perfect. If it's working in Chrome for you guys then it's likely my Chrome being weird.

[2017-02-10 17:37] ghost1227 commented on #135
@pippinsplugins Can this be closed?

[2017-02-10 17:40] pippinsplugins commented on #148
Works for me in Chrome.

[2017-02-10 17:41] pippinsplugins commented on #135
Yep, looks like we're good here.

[2017-02-10 17:41] #135 closed

[2017-02-10 17:41] ghost1227 commented on #148
@pippinsplugins It works for me in all three

[2017-02-10 17:59] mintplugins commented on #93
Once the issue with chosen JS is working, just a quick note that we'll need to make sure the Simple Shipping integration still works. I tested it with Simple Shipping and the additional options are not currently being output.

[2017-02-10 17:59] ghost1227 commented on #93
@mintplugins can you elaborate?

[2017-02-10 18:02] mintplugins commented on #93
When Simple Shipping is active, it outputs additional options into the commissions metabox to determine how Shipping is split.
https://github.com/easydigitaldownloads/EDD-Commissions/blob/release/3.3/includes/integrations/simple-shipping.php

It only works if you are using percentage based commissions so there was some additional js to hide/show options accordingly as well.
https://github.com/easy

[2017-02-10 18:03] cklosowski commented on #93
As well as the Recurring addon that's in #113

[2017-02-10 19:13] ghost1227 commented on #93
@mintplugins The patch chris just pushed works for me... can you verify?

[2017-02-10 19:27] mintplugins commented on #93
That fixes the width issue with the chosen field.

Note that saving it appears to have no effect though now.

[2017-02-10 19:29] ghost1227 commented on #93
You're saying saving doesn't work at all now?

[2017-02-10 19:31] mintplugins commented on #93
Just saving doesn't work.

Before save:
<img width="1021" alt="screen shot 2017-02-10 at 2 30 40 pm" src="https://cloud.githubusercontent.com/assets/1638128/22840962/9498aada-ef9d-11e6-810b-2f067694e92e.png">

After save:
<img width="1020" alt="screen shot 2017-02-10 at 2 30 48 pm" src="https://cloud.githubusercontent.com/assets/1638128/22840973/9be175ec-ef9d-11e6-84c5-98d28ce2318d.png">

[2017-02-10 19:32] mintplugins commented on #93
The original width issue is gone though.

[2017-02-10 19:37] ghost1227 commented on #93
@mintplugins ok, that was my bad. repull and test again

[2017-02-10 19:39] ghost1227 commented on #93
Also, the integration 'issue' isn't an issue. This PR doesn't touch the settings.php file, and the filter that is relevant to those integrations wasn't added until after this branch was created.

[2017-02-10 19:57] mintplugins commented on #93
Getting closer. However, if you make a brand new product and add more than a single receiver, it seems to strip them out upon save.

[2017-02-10 20:00] ghost1227 commented on #93
![](http://i.giphy.com/SfYTJuxdAbsVW.gif)

... ok back to the drawing board

[2017-02-10 20:01] mintplugins commented on #93
:joy:

[2017-02-10 20:11] ghost1227 commented on #93
@mintplugins Take 247, action!

[2017-02-10 20:17] mintplugins commented on #93
Looks good now I think!

Test 1:
- Tested making a new product on Master with commissions
- Switched to branch 93, updated, everything remains correct.

Test 2:
- Tested a new post immediately adding multiple receivers and saved - all good.

Test 3:
- Tested a new post immediately adding a single receiver and saved - all good.

[2017-02-10 22:37] ghost1227 commented on #93
@cklosowski @pippinsplugins Looks like this is ready for final review!

[2017-02-12 22:25] mintplugins commented on #93
**Reminder to self:**
I still want to test actually generating some commissions in a few different scenarios in the above situations.

[2017-02-13 16:53] ghost1227 commented on #83
Since this can't be reproduced (at least anymore) I'm closing as invalid

[2017-02-13 17:01] ghost1227 commented on #171
@pippinsplugins At a glance, this looks good to me. Unless you want to change any of the names he chose, I say it's good to go, sans a refresh against 3.3

[2017-02-13 17:16] pippinsplugins commented on #171
@ghost1227 go ahead  and refresh against 3.3 then I"ll take a look at it.

[2017-02-13 17:33] mintplugins commented on #93
I found one issue. If you enable commissions but then don't actually enter a receiver, you will get an error upon checkout. The 3.3 branch allows the purchase to go through successfully without generating any commissions. Currently this fails with this error message:

[code]

[2017-02-13 17:36] mintplugins commented on #93
However, that happens on master as well - which is where this branch was forked from. Upon merge into 3.3 that should resolve this. Will need to do a test after merge with commissions enabled but no receiver chosen.

[2017-02-13 18:04] mintplugins commented on #93
@ghost1227 This is working perfectly now in all tests mentioned above and actually generating commissions after test purchases.

[2017-02-13 19:03] ghost1227 commented on #93
@pippinsplugins Ready for final approval

[2017-02-13 19:23] ghost1227 commented on #171
@pippinsplugins refreshed

[2017-02-13 20:26] pippinsplugins commented on #93
The issue with the select fields being broken isn't fixed for me. To replicate:

1. Collapse the metabox.
2. Reload the page
3. Open the metabox

[2017-02-13 20:27] ghost1227 commented on #93
Verified. Fails if the metabox itself is collapsed, works if the metabox is expanded in all cases. @cklosowski I'm going to review, but the code for this was yours... if you know a solution please let me know

[2017-02-13 20:32] pippinsplugins commented on #148
Merged!

[2017-02-13 20:35] ghost1227 commented on #93
@pippinsplugins That should fix it

[2017-02-13 20:40] pippinsplugins commented on #93
@ghost1227 close. It works now when clicking on the actual arrow icon in the top right of the metabox, but fails when clicking on the metabox title, which also collapses / expands the box.

[2017-02-13 20:44] ghost1227 commented on #93
@pippinsplugins Good point! Fixed

[2017-02-13 20:47] pippinsplugins commented on #93
Yep, there we go!

[2017-02-13 20:47] pippinsplugins commented on #93
Small merge conflict, could you update that please @ghost1227 ?

[2017-02-13 20:51] ghost1227 commented on #93
@pippinsplugins Not sure how small 100% of a file is... but fixed!

[2017-02-13 20:53] pippinsplugins commented on #93
Merged!

[2017-02-13 20:53] ghost1227 commented on #93
Awesome! Thanks!

[2017-02-13 21:03] ghost1227 commented on #171
@pippinsplugins Fixed latest round of merge conflicts

[2017-02-13 21:05] #171 closed

[2017-02-13 21:21] ghost1227 commented on #110
@cklosowski Not sure if I'm on the right track, particularly given that I can't think of a way to make this 100% accurate retroactively, but I _think_ this works the way you intended.

[2017-02-13 21:44] ghost1227 commented on #176
@mintplugins is experiencing the issue presented in https://github.com/easydigitaldownloads/EDD-Commissions/issues/79 while testing this. He is going to review the referenced issue since I'm unable to reproduce it.

[2017-02-13 22:02] ghost1227 commented on #148
In the change, we somehow lost the Generate Payout File button

[2017-02-13 22:43] pippinsplugins commented on #148
Merged again.

[2017-02-14 15:41] mintplugins commented on #176
@ghost1227 I tracked the issue down to the addition of the edd_commissions_load() function which is hooked to plugins_loaded at priority 11.

The hook in EDD called edd_register_batch_exporters is also hooked to plugins_loaded at priority 10.

Thus, the hook which includes the EDD_Batch_Commissions_Payout class never actually fires and so it is not included when it is needed.

I tried changing the

[2017-02-14 15:51] mintplugins commented on #176
Back on track for this issue, as I mentioned, to test this issue I changed the priority of that hook to 99 in EDD Core and am now able to export payout files.

The payout files are using the correct currency:
<img width="314" alt="screen shot 2017-02-14 at 10 48 38 am" src="https://cloud.githubusercontent.com/assets/1638128/22936381/5667b8ce-f2a3-11e6-8fc2-2e4855efde8b.png">
<img width="368" alt="

[2017-02-14 15:55] mintplugins commented on #176
Perhaps an unrelated issue as well, the amounts in the payout file do not match the amounts in wp-admin. Also, while there are 6 commissions in wp-admin, there are only 4 in the batch payout file. I made sure to check that my date range covered all commissions.

[2017-02-14 16:54] mintplugins commented on #79
Possibly related:
https://github.com/easydigitaldownloads/easy-digital-downloads/issues/5465

[2017-02-14 19:20] ghost1227 commented on #79
@pippinsplugins Is it possible that your failures are related to the priority bug @mintplugins found? I can't find any other viable reason for this to be happening.

[2017-02-14 19:39] pippinsplugins commented on #79
Possibly but impossible to say. I haven't had a failure in a while. Will do
an export tomorrow and see if it fails. If it works, we can close as fixed.

On Tue, Feb 14, 2017 at 1:20 PM Ghost1227 <notifications@github.com> wrote:

[2017-02-14 20:34] ghost1227 commented on #174
Note: Sum totals, not displaying actual commissions

[2017-02-14 20:35] ghost1227 commented on #174
Month to month if selected range is greater than a month, day to day otherwise.

[2017-02-14 20:35] ghost1227 commented on #174
SEE: Earnings export in 2.7

[2017-02-14 21:09] davidsherlock opened #191 "eddc_get_commissions function "Week" argument addition"
As part of my marketplace invoicing system, I had to group commissions by week. The  eddc_get_commissions function doesn't support this natively in the arguments, so I created a custom version of the function with the following code added in (pretty messy - but works!).

[code]

Would it be possible to have this function extended to include week (or day) as part of the accepted query arguments?

[2017-02-14 21:24] pippinsplugins commented on #191
@davidsherlock what kind of data format are you passing the week as? Week number of the month? Week of the year?

[2017-02-14 21:25] davidsherlock commented on #191
Week numbers, but yearly could be useful as well.

[2017-02-14 21:26] davidsherlock commented on #191
Here is my code @pippinsplugins:

[code]

[2017-02-14 21:33] pippinsplugins commented on #191
Thanks.

We may be able to add support for this.

[2017-02-15 01:24] pippinsplugins commented on #110
@ghost1227 PR looks like it is on the right track. Will test shortly to confirm.

[2017-02-15 02:55] pippinsplugins commented on #110
Works great. Merged.

[2017-02-15 02:55] #110 closed

[2017-02-15 04:02] ghost1227 commented on #110
@pippinsplugins so we're not going to worry about retroactive effect?

[2017-02-15 05:58] SDavisMedia commented on #176
I'm not quite sure where this stands at the moment but I'm trying to generate a payout file that will include multiple currencies and I run into admin-ajax.php errors on `issue/176`. Can't replicate on `master`. Why would that be?

![image 2017-02-14 at 9 56 54 pm](https://cloud.githubusercontent.com/assets/2359131/22962276/c4252ba0-f300-11e6-8e1f-c200d00c52fd.png)

[2017-02-15 18:07] mintplugins commented on #176
@SDavisMedia You can now just pull laster master of EDD core and it should resolve that so you can generate a payout.

[2017-02-15 22:22] pippinsplugins commented on #79
This worked fine, closing as fixed.

[2017-02-15 22:22] #79 closed

[2017-02-15 22:27] ghost1227 commented on #82
@sunnyratilal Have you had a chance to look at this?

[2017-02-15 22:48] ghost1227 commented on #104
@sunnyratilal I did a comparison between the `commissions` query and the queries available in core and don't really see a reason that the `commissions` query would be inherently slower than any other query. Additionally, my tests haven't shown a differential of nearly what you saw when you opened this issue. That said, this _is_ a year and a half old issue, it's possible that changes elsewhere in

[2017-02-15 22:49] ghost1227 commented on #178
NOTE: Just as we did with the SL issue, this will be the last issue finished before release.

[2017-02-15 23:32] sunnyratilal commented on #133
Progress update: there are issues with the meta saving. Once I've fixed that, this is ready to go.

[2017-02-15 23:52] sunnyratilal commented on #104
This task is a bigger one that initially seems.  @pippinsplugins, we've had numerous discussions in the past about with alongside @cklosowski when I was building the iOS app.

The slowness here is to do with the way we are storing the commissions data. It's stored in an array in `post_meta` which makes querying it painful. There's no real way around making this faster without database schema chang

[2017-02-15 23:54] ghost1227 commented on #104
@pippinsplugins If that's accurate, I don't see us completing this during the 3.3 release cycle. A database redesign is a bit bigger than we probably want to tackle in the next four days.

[2017-02-16 00:34] sunnyratilal commented on #133
Ready for testing.

[2017-02-16 01:48] sunnyratilal commented on #82
PR opened at #193 that fixes the date ranges not working properly. There was a fair bit of code that wasn't respecting all the options we provide for reporting hence incorrectly leaving `$day_by_day` as `false`.

As much as I have tried, I cannot speed up the reporting to match the work I did with EDD because of the way we store the metadata.  As it is serialised, it has to be fetched and processe

[2017-02-16 11:13] ghost1227 commented on #174
@pippinsplugins First pass, I THINK that does what you want. I should note that as is, it doesn't actually work. @cklosowski recently adjusted Commissions to load with a priority of `11` on `plugins_loaded`. This results in it not triggering the `edd_register_batch_exporter` hook correctly. If you drop Commissions to load on `10`, it works fine. Not sure what the right solution for this is... thou

[2017-02-16 11:33] ghost1227 commented on #78
@sunnyratilal and I have been testing this tonight, and neither of us has been able to reproduce this issue.

[2017-02-16 11:34] sunnyratilal commented on #78
@pippinsplugins Can't replicate this - correct data is being generated.

[2017-02-16 11:34] ghost1227 commented on #78
Given this is a two year old bug, when's the last time anyone reported it (or we saw it on the EDD site)?

[2017-02-16 20:32] pippinsplugins commented on #104
Let's go ahead and close this as wontfix and then address it through the move to custom tables.

[2017-02-16 20:32] #104 closed

[2017-02-16 20:37] pippinsplugins commented on #174
@ghost1227 Looking good. The counts are all look right but we need to add value as well. So fore each month and each status, we need to have a count and a summed value column.

[2017-02-16 20:37] pippinsplugins commented on #78
Let's close as invalid.

[2017-02-16 20:37] #78 closed

[2017-02-16 21:21] davidsherlock commented on #174
@pippinsplugins, what format are the exports going to be? Is it just going to he summed totals or itemised (as per the commission admin screen)? The later would be the most useful for me. Specifically if filtering was available such as export by vendor, status, date range, etc.

[2017-02-16 21:24] pippinsplugins commented on #174
It'll be summed amounts + counts for each month.

Itemized exports are already supported and have been for a long time :)

[2017-02-16 21:25] davidsherlock commented on #174
I mean itemized exports of the commission records, I can't see anywhere to achieve this - maybe I am missing something? :)

[2017-02-16 21:27] pippinsplugins commented on #174
@davidsherlock I'm not sure what you mean. Could you elaborate?

[2017-02-16 21:37] davidsherlock commented on #174
Sure, within the commissions panel (admin panel), you can see the following data presented in the table:

- User
- Download
- Payment
- Rate
- Amount
- Status
- Date

However the commissions screen only shows 10 items per page and there is no functionality to show 100 items for example.

It would be really useful to have be able to export full itemized CSV files for accounting and archiving purpos

[2017-02-16 21:53] ghost1227 commented on #174
@pippinsplugins added amounts

[2017-02-16 22:05] cklosowski commented on #93
Reopening this...something we need to do, the `label` needs to tied to the checkbox...so you can click the text to check the box:

![screen shot 2017-02-16 at 3 04 30 pm](https://cloud.githubusercontent.com/assets/1390124/23043377/50ed48e8-f459-11e6-8fb2-1cb8e4c4097e.png)

[2017-02-16 22:05] cklosowski commented on #93
@ghost1227 can you fix up that label to have the `for` attribute for the `id` of the checkbox?

[2017-02-16 22:09] cklosowski commented on #176
I'm going to get `master` merged in here as well to make the setup process easier while testing on a fresh site.

[2017-02-16 22:11] cklosowski commented on #93
Ignore me...The I had previously tested this so the metabox was in the new spot, but the old UI...the new UI has the correct label behavior...
nothing to see here....
carry on.

[2017-02-16 22:34] cklosowski commented on #93
Correction I found 2 issues:
1) If you only have 1 commission author and do not enter a rate, it doesn't save. (2 or more authors, or adding a rate saves)
2) The 'remove' icon presents the warning that you have to have at least one row when you have more than 1 row.

[2017-02-16 22:43] cklosowski commented on #176
@easydigitaldownloads/core-devs are we expecting this to work with the EDD Currency Converter plugin? Or is this something that the store currency has to be set for?

I had assume currency converter would actually handle this...and I think customer's might as well, just want to make sure.

[2017-02-16 22:46] ghost1227 commented on #93
Fixed issue 1. Stupid logic error. Issue two is a conflict with the EDD core JS. It's triggering the repeatable row JS when you hit remove.

[2017-02-16 22:47] cklosowski commented on #176
This seems to be working well. I agree that we shoudl open up a new issue to also expose this data in the list table.

[2017-02-16 22:47] cklosowski commented on #176
Thoughts on if we should fix the list table now or later? @pippinsplugins @mintplugins @ghost1227

[2017-02-16 22:48] cklosowski commented on #93
I'll look at the JS trigger

[2017-02-17 00:14] cklosowski commented on #93
Ok give this a shot @mintplugins @ghost1227

We needed to do some work on the 'remove repeatable' icon...which would have required more CSS...what do you guys think about just using Dashicons which is already required in WP Admin?

![screen shot 2017-02-16 at 5 14 25 pm](https://cloud.githubusercontent.com/assets/1390124/23047190/676d6208-f46b-11e6-9ee5-0082cdf33b52.png)

[2017-02-17 02:46] pippinsplugins commented on #176
Let's fix it later.

[2017-02-17 03:29] mintplugins opened #196 "3.3 Branch is generating free commissions."
If a product is $0 and has commissions enabled, $0 commissions are enabled. Previously they were not. I believe that the correct behaviour for a $0 product would be to have no commissions generated upon purchase.

Or rather, if a commission in $0, I don't believe it makes sense to generate it.

[2017-02-17 03:31] mintplugins commented on #176
Testing again - this wasn't working properly for me last time...

[2017-02-17 03:47] mintplugins commented on #176
Okay nevermind - this is all working great for me now 👍

[2017-02-17 03:51] mintplugins commented on #93
Testing now

[2017-02-17 04:08] mintplugins commented on #93
While everything seems to be saving correctly, if I actually make a purchase while the rate is empty, it isn't falling back to the site default for me. Instead, a commission of 0% is generated - as if 0 was entered as the commission rate for the user.

Also, potentially related, if I enter the same Vendor twice for the same product, their rates actually save as "0" instead of being empty:

Before

[2017-02-17 10:00] ghost1227 commented on #93
@mintplugins try it now. I screwed up the saving logic and was setting blank to zero.

@cklosowski Breaks continuity with the other meta boxes. More CSS or not, I think a uniform experience is better.

[2017-02-17 10:02] ghost1227 commented on #196
@mintplugins This is actually part of issue #93. The way I was saving commissions was resulting in forced $0 commissions. Closing this since it's actually part of the other issue.

[2017-02-17 10:02] #196 closed

[2017-02-17 15:34] mintplugins commented on #196
Cool thanks - just wanted to log it but wasn't sure where.

[2017-02-17 16:52] cklosowski commented on #93
@ghost1227 That's a shame, I really dislike our current `x` system, since it's a weird CSS hover effect that is just not needed.

I'd like to try swtiching everythying over to this new way to delete. it does a few things for us:
1) Uses dashicons...so it's native
2) Uses no Inline CSS or CSS in our admin includes
3) Gives a larger 'hit' area on mobile, thank our `x` does.

[2017-02-17 16:58] ghost1227 commented on #93
@cklosowski I'm COMPLETELY ok with changing it, just think if we're going to change it, it should be done everywhere.

[2017-02-17 17:02] cklosowski commented on #93
@ghost1227 and it will be, as we work through extensiosn and core.

[2017-02-17 17:45] cklosowski commented on #176
I'm merging `release/3.3` back into this and waiting for unit tests to pass. once it passes I'll merge 🎉

[2017-02-17 17:51] #176 closed

[2017-02-17 19:27] cklosowski commented on #133
Going to get some tests setup for this today.

[2017-02-17 20:11] pippinsplugins commented on #110
Nope.

[2017-02-17 20:12] cklosowski commented on #133
Looks like we need to get 'type' into the class since #110 was introduced that stores the type.

[2017-02-17 20:17] pippinsplugins commented on #174
Looks great! Just two more change requests:

1. Change `Net Amount` to `Net Total`
2. Add a `Gross Total` column before `Net Total`

[2017-02-17 20:17] pippinsplugins commented on #174
@davidsherlock thank you for the feedback! We'll need to do that as a separate issue, perhaps in 3.4.

[2017-02-17 20:38] davidsherlock opened #197 "Intermittent "unpaid" commission statuses"
Using the latest version of commissions plugin I have walked into a recurring issue where commission records aren't being properly marked as paid after the payout file is exported.

There are no apparent links to what records aren't being marked as paid and which ones are unpaid, it seems to in most cases by the older commissions from the month not being marked as "paid".

I can post up a video to

[2017-02-17 20:53] davidsherlock commented on #197
Here is a few "guess" what is causing this (i haven't looked in depth into the commissions code, so just an idea).

A race condition is happening with the speed of the button clicks between the "Generate Payout File" and "Mark As Paid". If you hit the "Mark As Paid" quickly after hitting downloading it seems to happen more often where it misses whole pages of commissions.  Something in the "Delay"

[2017-02-17 22:02] cklosowski commented on #133
Turns out you cannot use static fixtures with WordPress 4.3, so we'll have to ditch support for that version to move foward.

[2017-02-17 22:40] cklosowski commented on #133
Ok @sunnyratilal I've added some unit tests and fixed it up to be a much faster test suite by doing the setup of tests on the class, not each individual test, so things move quicker.

[2017-02-17 22:42] cklosowski commented on #93
@ghost1227 @mintplugins @SDavisMedia  if we're good with this new `dismiss` and things are working well, we good to merge this beast in?

[2017-02-17 22:42] cklosowski commented on #93
For reference, the new `dismiss` icon for removing items:
![screen shot 2017-02-17 at 10 03 47 am](https://cloud.githubusercontent.com/assets/1390124/23085919/b44f475a-f527-11e6-9da6-5a694ab74e42.png)

[2017-02-17 23:03] mintplugins commented on #93
Things look good with the dismiss button here.

Can we give a unique identifying name to the "type" setting? Either a CSS class or ID would be sweet. Right now it is just "edd_field_type_select"

It would be good if it has a unique ID similar to how the eddc_commission_rates_wrapper does.

[2017-02-17 23:04] mintplugins commented on #93
Actually the parent element to that is likely better to get the ID.

The one called eddc_toggled_row

[2017-02-17 23:11] mintplugins commented on #93
Also note that we need to make sure the Shipping and Recurring JS integrations work as well. They are now merged into this branch so they can be fixed here.

[2017-02-17 23:11] sunnyratilal commented on #133
Tests look fantastic @cklosowski!

[2017-02-18 00:26] davidsherlock commented on #197
Found the bug @pippinsplugins, here is the problematic function:

[code]

The problem exists due to the fact that if you apply bulk actions such as setting all commission records to "Unpaid" on page 4 or similar, then run the export route and click "mark as paid" this page of commissions (the last modified) isn't marked as paid because the way WordPress handles the sessions/requests.

[2017-02-18 00:36] davidsherlock commented on #197
A simple fix would be to force a redirect back to `wp-admin/edit.php?post_type=download&page=edd-commissions` once a batch process has been performed.

[2017-02-20 07:01] ghost1227 commented on #174
@pippinsplugins Ready for testing again!

[2017-02-20 16:01] pippinsplugins commented on #174
Great! Just one item left. Now there is an empty column at the end of the CSV:
<img width="928" alt="screen shot 2017-02-20 at 10 00 32 am" src="https://cloud.githubusercontent.com/assets/1034109/23132520/79cba532-f753-11e6-83cd-218393c861d3.png">

[2017-02-20 18:54] ghost1227 commented on #174
@pippinsplugins Good catch! Fixed!

[2017-02-20 19:00] pippinsplugins commented on #174
Perfect, merged!.

[2017-02-20 19:07] ghost1227 commented on #174
Awesome!

[2017-02-20 19:18] ghost1227 commented on #93
Latest change from @cklosowski gets a 👍 from me. As far as I'm concerned, this is good to go. Can we get approval from one more person?

[2017-02-20 19:22] pippinsplugins commented on #93
@ghost1227 @cklosowski rates don't save for me anymore. No matter what I enter, no rate is saved. The user field also isn't saved.

[2017-02-20 20:05] ghost1227 commented on #93
@pippinsplugins Try again now, please!

[2017-02-20 20:12] pippinsplugins commented on #93
Works great now.

[2017-02-20 21:38] mintplugins commented on #93
Here's what I can think of that should be tested prior to merge:

- Visual Check: Make sure all Commissions settings hide if unchecked and show if checked.

Purchase the following combinations:

- Free product with Single receiver and 50% rate.
Result:

- Single receiver and 50% rate.
Result:

- Single receiver and blank rate in product, 50% user rate.
Result:

- Single receiver, blank rate, blank

[2017-02-20 22:38] ghost1227 commented on #133
@cklosowski @sunnyratilal This looks good to me!

[2017-02-20 22:46] cklosowski commented on #82
Seems like it's working to me. Improving speed isn't going to be possible until we can break out some of that meta, so we can query it directly.

[2017-02-20 22:47] #82 closed

[2017-02-20 22:47] ghost1227 commented on #82
Unfortunately, we can't really do that until we do the database overhaul that's been discussed before. I'd like to see a definitive milestone for that at some point, though it's going to be a monumental headache to write.

[2017-02-20 22:47] mintplugins commented on #93
Testing list:

- Visual Check: Make sure all Commissions settings hide if unchecked and show if checked.
**Result**: Core Commissions settings do not hide for me unless I click whitespace after unchecking the "Enable Commissions" metabox. However, Shipping and Recurring integrations do hide immediately after unchecking. Tried to confirm with @cklosowski but he was unable to replicate. This could b

[2017-02-20 22:50] ghost1227 commented on #93
The enable commissions display issue isn't happening for me, I'm guessing some sort of caching bug on your end.

[2017-02-20 23:02] mintplugins opened #198 "$0 Commissions if no rate exists."
If no commission rate is entered for the product, user, and site default, a $0 commission is generated. We should prevent $0 commissions from being generated as they could be confusing and don't serve any use to the site owner.

[2017-02-20 23:03] ghost1227 commented on #93
The one outstanding issue brought up by @mintplugins has been determined to be not related to this issue and is of minor enough consequence that we tagged it for 3.3.3 https://github.com/easydigitaldownloads/EDD-Commissions/issues/198. Given the testing, I now recommend merging and closing this issue.

[2017-02-20 23:05] #133 closed

[2017-02-20 23:11] cklosowski commented on #93
Re-opening just to get some testing done once #178 is done.

[2017-02-20 23:11] cklosowski commented on #148
Re-opening just to get some testing done once #178 is done.

[2017-02-20 23:11] cklosowski commented on #152
Re-opening just to get some testing done once #178 is done.

[2017-02-20 23:11] cklosowski commented on #174
Re-opening just to get some testing done once #178 is done.

[2017-02-21 15:22] pippinsplugins commented on #178
@ghost1227 let's go ahead and delete the `scheduled-payouts.php` file. That's never been used and won't be.

[2017-02-21 15:23] pippinsplugins commented on #178
Same thing with the `masspay` folder.

[2017-02-21 15:26] pippinsplugins commented on #148
This looks good on `issue/178` to me.

[2017-02-21 15:27] pippinsplugins commented on #152
This looks good on issue/178 to me.

[2017-02-21 15:27] pippinsplugins commented on #93
The repeatable rows no longer work on #178. The add new button doesn't do anything.

[2017-02-21 15:28] pippinsplugins commented on #93
Looks like the JS file isn't loaded anymore.

[2017-02-21 15:31] SDavisMedia commented on #93
Confirmed. It's definitely not loading on `issue/178`.

[2017-02-21 15:38] SDavisMedia commented on #148
Is there a reason why when adding a new commission record with the Add New button, you don't get to set the commissions Type (flat / percentage)? We record the Type in the commission meta as `percentage`.

[2017-02-21 15:45] pippinsplugins commented on #148
We should definitely have that option.

[2017-02-21 15:46] SDavisMedia commented on #148
EDIT: Actually, it looks like there's different behavior between `issue/178` and `issue/148`.

`issue/178`:
[code]

`issue/178`
[code]

[2017-02-21 15:47] SDavisMedia commented on #148
Also, there's a field for Payment ID but I don't see it doing anything. When you add a payment ID. It doesn't display a connection to an existing payment record on the commissions table. What is this field for?

[2017-02-21 15:54] SDavisMedia commented on #152
Seems to be working fine for me on `issue/178`. :+1:

[2017-02-21 16:14] SDavisMedia commented on #174
Correct me if I'm wrong here. Testing on `issue/178`, the Paid and Unpaid data looks backwards.

One unpaid commission record and its export:
<img width="1219" alt="screenshot 2017-02-21 08 11 59" src="https://cloud.githubusercontent.com/assets/2359131/23173261/716357ea-f80d-11e6-9d7e-52994c28fd2c.png">
<img width="786" alt="screenshot 2017-02-21 08 12 42" src="https://cloud.githubusercontent.com/

[2017-02-21 16:15] SDavisMedia commented on #174
Revoked looks fine.

[2017-02-21 16:16] #152 closed

[2017-02-21 16:16] cklosowski commented on #93
Ok, should be fixed up.

[2017-02-21 16:23] SDavisMedia commented on #93
Missing a space here:
![0c7ab0547c40e57193cc65db547fa4f7 _image 202017-02-21 20at 208 22 49 20am](https://cloud.githubusercontent.com/assets/2359131/23173743/018a1722-f80f-11e6-9921-9cdf32eda828.png)

[2017-02-21 18:11] ghost1227 commented on #178
@cklosowski Looks like manual commissions doesn't take into account the changes we made in https://github.com/easydigitaldownloads/EDD-Commissions/issues/110. Added a $10 flat commission and it displayed as a percentage

[2017-02-21 18:18] ghost1227 commented on #178
Nevermind, I withdraw that issue. Looks like i was looking at the irrelevant rate column.

[2017-02-21 18:23] mintplugins commented on #93
We should add "eddc_toggled_row" as a class for the Shipping and Recurring integrations instead of "eddc_commission_row".

[2017-02-21 18:57] SDavisMedia commented on #148
@cklosowski working well for me now. The commission type UI works perfectly and the selection is being saved properly. :+1:

[2017-02-21 19:05] mintplugins commented on #93
Nevermind that :P Just spoke with @cklosowski who made me realize why they need their own class names.

[2017-02-21 19:45] pippinsplugins commented on #174
Definitely backwards @ghost1227

[2017-02-21 20:24] ghost1227 commented on #174
Good catch, fixed in #178

[2017-02-21 20:26] SDavisMedia commented on #174
All good on all fronts. :+1:

[2017-02-21 20:36] #93 closed

[2017-02-21 20:36] #148 closed

[2017-02-21 20:37] ghost1227 commented on #178
Per discussion on slack, as soon as final test suite is finished, this issue is cleared.

[2017-02-21 20:38] ghost1227 commented on #178
Tests are passing!

[2017-02-21 21:05] #178 closed

[2017-02-22 17:07] pippinsplugins commented on #174
Something isn't quite working here.

I did an export that starts in `Jan 2016` and ends in `Feb 2017`. All months in 2016 show `0` for the gross paid amounts, even though those months are definitely not 0.

<img width="810" alt="screen shot 2017-02-22 at 11 06 55 am" src="https://cloud.githubusercontent.com/assets/1034109/23222917/0c79c962-f8ef-11e6-897a-670a92992eb7.png">

[2017-02-22 17:08] pippinsplugins commented on #174
Export `Jan 2016` to `Dec 2016` gives the same results, so it's not a year boundary issue.

[2017-02-22 18:58] ghost1227 commented on #174
@pippinsplugins fixed!

[2017-02-22 19:30] pippinsplugins commented on #174
Testing!

[2017-02-22 19:35] pippinsplugins commented on #174
Perfect!

[2017-02-22 19:35] #174 closed

[2017-02-22 23:03] davidsherlock opened #203 "Commission Edit Screen Hooks"
As per https://github.com/easydigitaldownloads/EDD-Commissions/issues/171, can the following hooks be added to allow new rows to be added to the edit commissions screen? They seem to be missing from the latest beta.

Hooks currently exist outwith the table, but not within the table itself.

[code]

[2017-02-23 21:33] pippinsplugins commented on #203
@ghost1227 could you please get these added?

[2017-02-23 22:05] ghost1227 commented on #203
@pippinsplugins Our standard for Commissions is `eddc_` not `edd_commission_`. I'd recommend using the standard to maintain consistency. Thoughts?

[2017-02-23 22:15] pippinsplugins commented on #203
Yes, maintain the standard.

On Thu, Feb 23, 2017 at 4:06 PM, Ghost1227 <notifications@github.com> wrote:

[2017-02-23 22:22] ghost1227 commented on #203
@pippinsplugins How's that?

[2017-02-23 22:25] pippinsplugins commented on #203
Looks good.

[2017-02-23 22:37] pippinsplugins commented on #197
@ghost1227 can you look into this please?

[2017-03-04 22:10] SDavisMedia commented on #158
Got another kick for this. Same original ticket.

[2017-03-06 16:52] SDavisMedia commented on #158
If at all possible, please let's make this top priority once 3.3 is out.

[2017-03-07 17:06] pippinsplugins commented on #158
I'm not sure this is actually a Commissions change. It's a Points and Rewards change. See https://trello.com/c/OadCVXIj/380-edd-points-and-rewards

I'm going to test locally and confirm now though.

[2017-03-07 17:12] pippinsplugins commented on #158
Confirmed. If Jigar makes the change I requested there, the problem is resolved.

For example, a global fee like this does not affect commissions:

[code]

But a fee that specifies the `download_id` does:

[code]

[2017-03-07 17:13] pippinsplugins commented on #158
The $6.00 commission was from my global fee. The $5.00 fee was from the one with the `download_id`. No other settings were changed:

<img width="1380" alt="screen shot 2017-03-07 at 11 13 12 am" src="https://cloud.githubusercontent.com/assets/1034109/23668579/26c34a86-0327-11e7-875b-19c8bc18e6bf.png">

[2017-03-07 17:31] SDavisMedia commented on #158
@pippinsplugins I'm a bit mixed up trying to understand a timeline here. Did you already have this conversation with Jigar over on Trello in the middle of last month? And if so, that adjustment was _not_ included in 1.4.3 (which was released a week later), right?

Just making sure. From what I'm gathering, we can expect changes in P&R 1.4.4 based on what you described above. Is that correct?

[2017-03-07 17:59] pippinsplugins commented on #158
@SDavisMedia I started the discussion last month but it was not included in the most recent release. I'm going to push for it to be in the next point release, whereby correcting this behavior.

Let's leave this issue open until we have a confirmed fix though.

I've marked it on my todo list to write the patch for Jigar on Thursday if he hasn't alreay.

[2017-03-17 17:20] davidsherlock opened #204 "User ID missing from Payout file"
As part of the new commissions 3.3 wasn't the Used ID supposed to be included in the payout file generated? Since PayPal supports additional columns for "reference" numbers and alike.

This makes it easier for vendors to identify payments they receive.

[2017-03-17 17:45] mintplugins commented on #204
To confirm, are you seeing this happen on the 3.3 branch? Do you know which github issue number this was tackled in?

[2017-03-17 17:54] davidsherlock commented on #204
@mintplugins, yes using the latest beta version. I am unable to recall the exact issue number, but will look later on tonight for it.

[2017-03-19 23:15] rubengc commented on #166
@pippinsplugins can you target this to the next version?

[2017-03-20 14:18] pippinsplugins commented on #166
@rubengc I can't say for sure right now.

[2017-03-20 14:27] pippinsplugins commented on #204
I noticed this when generating the payout file on easydigitaldownloads.com last week. We run the beta there and did _not_ have the user ID included.

[2017-03-20 14:40] ghost1227 commented on #204
@pippinsplugins ready for re-review

[2017-03-20 14:48] davidsherlock commented on #197
@pippinsplugins, any word on this one? It's a WordPress query argument issue I believe, but it's caught me out a few times.

[2017-03-20 17:18] pippinsplugins commented on #204
Merged!

[2017-03-20 17:18] #204 closed

[2017-03-27 16:17] #203 closed

[2017-03-27 17:29] davidsherlock opened #207 "manage_edd_commissions_custom_column debug data hook issue"
I have written a custom invoicing system for the commissions plugin, however there is one issue with the above hook:

Within EDD_C_List_Table.php, on line 101 we currently have this code:

[code]

This is resulting in my hook spitting out the following on the table:

![screenshot 2017-03-27 18 19 32](https://cloud.githubusercontent.com/assets/22668877/24369176/0c37e222-131b-11e7-9a23-3a68494b987a.

[2017-03-27 21:01] rubengc commented on #207
I experienced the same

in PR #172 those lines was removed
https://github.com/easydigitaldownloads/EDD-Commissions/pull/172/commits/8736185ceab521f9657117ada443fcd82ce1623d#diff-8d6426379b1d7288f3f96fdfc67b8165

[2017-03-28 17:20] pippinsplugins opened #208 "FES integration: PayPal field no longer registered"
The PayPal Email field no longer shows up in FES. This is because we're running plugin set up on `plugins_loaded` with priority of `11`. FES fires `fes_load_fields_require` during `plugins_loaded` priority `10`.

[2017-03-28 17:21] #208 closed

[2017-03-29 14:40] pippinsplugins commented on #207
Whoops!

[2017-03-29 14:40] pippinsplugins commented on #207
We'll get it fixed in 3.3.3

[2017-03-29 15:55] SDavisMedia opened #209 "Missing Total Unpaid from commissions list table"
<img width="547" alt="3f51bca88a45a31e0407b854778a5592 _image 2017-03-29 at 8 41 47 am" src="https://cloud.githubusercontent.com/assets/2359131/24463966/3d24fd50-145d-11e7-93cb-c9ab0b00b3ed.png">

A customer who uses it noticed that it was gone. Pretty sure it was just an oversight. So we should add it back.

[2017-03-31 20:19] davidsherlock opened #210 "Product variation database storage improvement"
At the minute the commissions plugin stores the product variation as simply a string within the database, corresponding to the commission ID.

While this is effective for the purposes of commissions table display, it isn't an ideal method if you need to use it for comparison purposes with the original cart array. I propose the product variations are stored using the same method as the order histor

[2017-04-02 20:34] SDavisMedia commented on #209
Just got another ticket about this. Never knew people even noticed that.

[2017-04-04 02:20] pippinsplugins commented on #210
@davidsherlock we'll be moving all commission storage to a custom table soon and it'll be made easier then: https://github.com/easydigitaldownloads/EDD-Commissions/issues/134

[2017-04-04 02:22] pippinsplugins commented on #209
@ghost1227 can we get a PR for this tomorrow please?

[2017-04-04 05:58] rubengc commented on #198
I got commissions of $0 on users with 0 rate so no commission should be generated here

[2017-04-04 18:21] davidsherlock commented on #134
@pippinsplugins, I would like to propose an addition to the above.

It would be extremely useful to store the original cart item sales price, item tax and total (including tax) used for the base commission calculation as commission metadata. Along with storying the cart array item name and production variation in the same manner as purchase data does (serialized) with the commission ID.

This keep

[2017-04-04 23:12] pippinsplugins opened #211 "Add option to calculate commissions after discounts but before taxes"
Some countries, such as Germany, supposedly require that sites calculate vendor earnings after discounts are applied but _before_ taxes are charged.

We do not currently have a way to support this calculation.

See https://secure.helpscout.net/conversation/342634099/56517/?folderId=180504

[2017-04-05 19:15] #209 closed

[2017-04-05 19:15] #207 closed

[2017-04-05 20:37] davidsherlock commented on #211
@pippinsplugins, I can't see the helpscout link - would you be able to post the customers email here? Being from the EU, I believe there might be some confusion on what he is requesting and want to confirm.

[2017-04-05 22:18] SDavisMedia commented on #16
@cklosowski is this still working for you on `master`?

[2017-04-06 04:36] cklosowski commented on #16
The searching for a user is deff not working. I can click on the user name, and get a list of their commissions only, but the search dropdown is not giving me the user field like in the screenshots above:
![screen shot 2017-04-05 at 9 35 06 pm](https://cloud.githubusercontent.com/assets/1390124/24738059/f3bd38ee-1a47-11e7-8ea6-39000e53955b.png)

[2017-04-06 04:37] #16 closed

[2017-04-06 04:38] cklosowski opened #214 "User search field not working on commissions list table"
Added in #16, the search field no longer seems to be working correctly to filter the commissions list table by user.

Reported: @SDavisMedia
Confirmed: @cklosowski

[2017-04-06 14:30] ghost1227 commented on #214
@cklosowski My fault it was removed... it somehow didn't get migrated when I did the overhaul. Readded

[2017-04-06 14:43] ghost1227 commented on #160
@pippinsplugins I think there's a bigger issue here with EDD core... Right now, the commissions email field is being hooked to `edd_profile_editor_after_password`, which results in the following:

<img width="802" alt="screen shot 2017-04-06 at 9 37 23 am" src="https://cloud.githubusercontent.com/assets/36433/24759955/c142798c-1aac-11e7-8267-56575477f8d1.png">

I can't say what the correct placeme

[2017-04-06 15:58] SDavisMedia commented on #214
Outstanding. Working well for me now. :+1:

[2017-04-10 11:24] ghost1227 commented on #160
@pippinsplugins thoughts?

[2017-04-10 16:28] pippinsplugins commented on #211
@davidsherlock That support ticket is for our internal use only so we can go back to notify the customer when this is resolved.

[2017-04-10 16:29] pippinsplugins commented on #198
Have we recorded 0.00 commissions in the past? If so, this needs to be introduced with a setting as some people may be using them for other tracking purposes (we see it in AffiliateWP, for example, a lot).

[2017-04-10 16:30] pippinsplugins commented on #160
@ghost1227 how about adding a new fieldset for this so that it is its own section?

[2017-04-10 16:30] cklosowski commented on #198
I am using a `$0.00` commission as a method of tracking conversion between two of my own sites.

[2017-04-10 16:32] ghost1227 commented on #198
That makes sense! I'll change that.

[2017-04-10 16:34] pippinsplugins commented on #198
Let's add a radio button (`yes` being default) for `Allow $0.00 commissions?`

[2017-04-10 16:50] ghost1227 commented on #198
@pippinsplugins Try that

[2017-04-10 16:52] ghost1227 commented on #160
@pippinsplugins That's my point. Right now there isn't anywhere to ADD a new fieldset. The existing actions are all either inside the pre-existing fieldsets or before the first one. We need to add new hooks to core to make it possible.

[2017-04-10 17:31] ghost1227 commented on #160
Note that the PR depends on https://github.com/easydigitaldownloads/easy-digital-downloads/issues/5652

[2017-04-10 17:41] davidsherlock commented on #211
@pippinsplugins I am aware of that :) Merely asking to offer some help as I believe what he might be referring to is the payouts rather than the recorded commissions. The way VAT (tax) works in Germany is slightly different in the invoicing rules, hence why I think he has suggested this.

[2017-04-11 15:59] pippinsplugins commented on #198
@ghost1227 Look good but I'd like a few changes. See the review on the PR.

[2017-04-11 18:05] ghost1227 commented on #198
@pippinsplugins Changes submitted

[2017-04-12 20:36] pippinsplugins commented on #198
@ghost1227 I cannot get 0.00 commissions to get recorded at all, regardless of the settings I use.

[2017-04-12 23:19] pippinsplugins commented on #134
That's a great idea @davidsherlock

[2017-04-14 16:27] davidsherlock opened #218 "Admin responsive issues"
Following on from my responsive issues post on the core EDD Github, I've discovered some responsive issues with the commissions plugin.

Alignment/margin on add new commission button.

![commissions - add new button](https://cloud.githubusercontent.com/assets/22668877/25048897/e86eb800-2136-11e7-9128-2859687e3abe.png)

Checkbox width issue on commissions overview table.

![commissions - commission

[2017-04-14 23:00] cklosowski commented on #134
Been thinking a lot about the comments above by @davidsherlock. Part of me loves it, part of me thinks it's just a ton of duplicated data. Both sides present pros and cons.

I personally don't think we should store that data on the commission record itself, as it will be just a bunch of duplicated data, and now that we offer the ability to change the item price and item tax on a payment, we could

[2017-04-14 23:11] cklosowski commented on #134
Here is my proposed table schema:
`id, user_id, amount, status, download_id, payment_id, cart_index, price_id, date_created, date_paid`

[code]

[2017-04-14 23:26] davidsherlock commented on #134
@cklosowski, completely agree but let me give you a scenario where it would be useful.

With the forthcoming introduction of partial refunds, if an item from the cart is refunded or accidentally 'removed' from the cart/purchase, then the 'link' between the original purchase and the recorded commission is lost with no clear way to figure out how the store "arrived" at the commission amount (say for

[2017-04-14 23:30] cklosowski commented on #134
@davidsherlock but with the cart ID, we can add hooks into the add/remove from payment actions that can update the records accurately at the time of modifying the payments.

I get your use case, but I see it as actually harder to keep a record in tact. Since now we have to update multiple layers of data on the payment AND then update those exact same records on the payments.

In the event that an

[2017-04-14 23:36] davidsherlock commented on #134
To be honest @cklosowski I am actually one of the biggest advocates of avoiding duplicate data for exactly those reasons, so it was hard for me to even suggest this initially.

Definitely storing the the price ID along with the download ID is a lot better than how it's done currently. I had to write a function that figured out the product variation in the cart by doing a string comparison (not ide

[2017-04-15 00:34] cklosowski commented on #134
@davidsherlock I think your use case brings up a pain point we've had for quite a while, but as we move forward we can take this opportunity to make good on all the short comings we've been providing you with in past versions that the post meta relationships simply made it difficult to work through.

As we build it out, we'll come back here and make sure that everything we're doing allows somethin

[2017-04-17 17:50] pippinsplugins commented on #134
I agree with the proposed schema above.

@ghost1227 let's get started with that schema.

[2017-04-17 19:56] pippinsplugins commented on #198
Definitely enabled.
<img width="1206" alt="screen shot 2017-04-17 at 2 55 57 pm" src="https://cloud.githubusercontent.com/assets/1034109/25102417/07e38d48-237e-11e7-911a-286d04210367.png">

[2017-04-18 00:23] mintplugins commented on #198
For me, if the price of the product is $0 and the commission rate is 50%, it isn't working

Not working (no commission is generated):
- Price is $0
- Commission is 50%

Is working ($0 commission is generated):
- Price is $5
- Commission rate is 0%

[2017-04-18 02:25] pippinsplugins commented on #198
@ghost1227 could you take another look?

[2017-04-18 20:00] davidsherlock opened #219 "Revoked Dates"
If commissions are marked as either paid or revoked, it would be useful to keep track of both these dates independently for accounting/transactional purposes. Similarly being able to edit/update these dates would be beneficial.

[2017-04-18 20:32] davidsherlock opened #220 "Edit commission hooks required"
Some hooks are needed within the edit commission screen to allow additional info to be added fields, the only hook available is below the actual form making it somewhat redundant.

[2017-04-18 21:39] pippinsplugins commented on #220
@davidsherlock Where exactly would you like to hooks added? Could you give me an example of what you're trying to do?

[2017-04-18 22:40] davidsherlock commented on #220
@pippinsplugins, basically I am trying to add my own "paid" and "revoked" date fields as per the suggestion posted on #219, with the ability to edit the values.

Two functions need hooks added - `eddc_render_add_commission_view() and eddc_commissions_view
` I believe.

I need the ability to add rows/cells to the table for additional fields related to the commission record.

[2017-04-21 19:44] mintplugins opened #221 "Add Commissions Metabox Hook"
Some of the integration settings for All Access make the most sense if they sit directly below the "Enable Commissions" option - because they affect every option below that.

If there were a hook between them I could add them there.

Would "eddc_metabox_after_enable" be an acceptable name for the hook?

[2017-04-21 19:48] mintplugins commented on #221
@ghost1227

[2017-04-21 20:23] mintplugins commented on #221
I'm also going to add a filter to the "Type".

[2017-04-25 15:57] ghost1227 commented on #198
@pippinsplugins I still can't get it to fail, but I'm not understanding @mintplugins if a product is $0 and has a 50% commission, 50% of $0 IS $0, so it SHOULDN'T record a commission... and with a $5 commission at 0% I can't get it to record a commission (which, again, it shouldn't to my understanding)

[2017-04-25 16:04] pippinsplugins commented on #198
@ghost1227 Show me _all_ of your configurations and releveant screenshots. Phil and I replicated super easily so something on your end must be off. Or you have non-pushed code.

[2017-04-25 16:57] ghost1227 commented on #198
Ok... I've been working through this with @mintplugins and I've been able to replicate the issue in certain situation... and track down the cause. The reason it's not recording (at least in his situation) is because the `eddc_calculate_payment_commissions` function is returning an empty array. As a result, it's never reaching the new code we added to track $0 commissions.

[2017-04-25 17:00] ghost1227 commented on #198
@pippinsplugins I was testing in a very specific set of circumstances (the one that I originally used to write it). in that circumstance, it works as expected. with the (more common) scenario that you and @mintplugins tested, the plugin isn't actually reaching our new code... it's bailing before it ever has a chance to record due to `eddc_calculate_payment_commissions` returning an empty array.

[2017-04-25 17:02] ghost1227 commented on #198
Specifically, it's this block that's causing it to bail: https://github.com/easydigitaldownloads/EDD-Commissions/blob/master/includes/commission-functions.php%23L112-L115

[2017-04-25 17:38] pippinsplugins commented on #198
@ghost1227 that link gives me a 404.

[2017-04-25 19:00] ghost1227 commented on #198
@pippinsplugins `%23` should be `#`... github breaks its own links on post.

[2017-04-25 21:44] pippinsplugins commented on #198
Testing again!

[2017-04-25 21:51] pippinsplugins commented on #198
Works perfectly!

[2017-04-25 21:52] #198 closed

[2017-04-25 22:37] ghost1227 commented on #160
Now that the dependent PR is closed, can we get this one merged too?

[2017-04-26 16:40] ghost1227 commented on #158
@pippinsplugins Any word on this? I'd like to see 3.3.3 closed out now that we're actively working on 3.4

[2017-04-26 16:41] ghost1227 commented on #160
@pippinsplugins @SDavisMedia just pinging to keep eyes on this

[2017-04-26 19:50] mintplugins commented on #221
Anywhere the rates were displayed are now run through the new helper function called eddc_format_rate. This was changed in these places:

- Shortcode [edd_commissions_overview]
- Dashboard Widget
- Customer tab
- Commissions list table
- Single Commissions view

[2017-04-26 19:57] pippinsplugins commented on #160
@ghost1227 Looks like you missed my PR review. We need a version check: https://github.com/easydigitaldownloads/EDD-Commissions/pull/217

[2017-04-26 20:44] mintplugins commented on #221
@pippinsplugins

[2017-04-27 05:51] rubengc commented on #166
No news about this?

[2017-04-27 06:10] cklosowski commented on #166
I've been working on a Stripe payout in my spare time, but it's not ready for testing yet. I'll keep this topic updated as needed for testing.

[2017-04-27 08:13] rubengc commented on #166
But I mean to allow set a desired payout platform without get It integranted through a getaway because much of this services requires a minimum amount to allow you make It automatically

[2017-04-27 16:45] ghost1227 commented on #160
@pippinsplugins I did miss that, my apologies. Just updated the PR, but I'm not sure that it's ideal... the whole fieldset thing won't actually be valid pre-2.7.8, but if we don't display ANYTHING, we're dropping important functionality. Thoughts?

[2017-04-27 17:47] pippinsplugins commented on #160
I think we should leave it as it was (before this PR) and only change the markup for 2.7.8+.

[2017-04-27 17:48] ghost1227 commented on #160
OK, that was what i was thinking

[2017-04-27 17:53] ghost1227 commented on #160
@pippinsplugins How's that work for you?

[2017-04-27 18:29] mintplugins commented on #160
This looks great to me!

I have tested on both pre 2.7.8 and "post" (by changing the version of EDD manually on my local). Output looks good in both cases and fulfills the initial request to add the ID and legend wrap.

[2017-04-27 18:31] ghost1227 commented on #160
Woot! Thanks @mintplugins!

[2017-04-27 18:39] #160 closed

[2017-04-27 19:15] mintplugins commented on #214
If there is no matching search results, you will get error here. Re-opening:
<img width="1293" alt="screen shot 2017-04-27 at 3 12 05 pm" src="https://cloud.githubusercontent.com/assets/1638128/25500233/441c08a4-2b5c-11e7-8449-7202174ba6ce.png">

[2017-04-27 19:23] mintplugins commented on #214
Working now! Thanks @ghost1227

[2017-04-27 19:23] #214 closed

[2017-04-27 19:35] mintplugins commented on #221
I just re-tested this after the 3.3.3 issue branch was merged into master and everything is still functioning properly.

[2017-04-27 19:41] pippinsplugins commented on #158
This can be punted.

[2017-04-27 19:42] #221 closed

[2017-04-27 20:28] mintplugins commented on #173
@chriscct7 I can't seem to replicate what you are saying. I made a bundle and renewed it as you outlined. The cost is $15 and the flat rate is $10. I also tested in percentage mode to be thorough, with the amount still at $15 and the rate at 10%.

If I understand this issue correct (which, admittedly I'm struggling to understand), this is resolved in https://github.com/easydigitaldownloads/EDD-Com

[2017-04-27 20:35] #173 closed

[2017-04-28 17:03] mintplugins opened #226 "Specific downloads don't have user_id in eddc_get_download_ids_of_user"
The function `eddc_get_download_ids_of_user` seems to not always have a commissions settings array attached - even though commissions are enabled. This could be leftover data in my test environment due to a separate issue in EDD core which was preventing users from properly saving.

The error message appears on the customer profile in admin:
[code]

If I update the download in question, it then ma

[2017-04-28 18:36] mintplugins commented on #226
While looking at this I also noticed a bug in the same function (`eddc_get_download_ids_of_user`) where it would include a product for a user even if commissions had been disabled for that product. This means that commissions used to be on and the user has commissions data that exists in the post, but the site owner has since disabled commissions. In this PR, we now correctlyremove those disabled

[2017-04-28 18:46] cklosowski opened #228 "Use is_callable on commissions card view"
Right now the commissions card uses `function_exists` to execute the callbacks for the registered callbacks. We should use `is_callable` so that if someone registers a static method within a class, it will still work

[2017-04-28 19:02] ghost1227 commented on #226
👍 This looks good!

[2017-04-28 19:30] mintplugins commented on #226
Issue with this in PHP5.3
[code]

[2017-04-28 19:49] #226 closed

[2017-04-29 12:47] davidsherlock opened #230 "_edd_commission_status not updated on status change"
I did a fresh install of WordPress, EDD (2.7.7), Commissions (3.3.2) and nothing else on a local development setup. I created two products and associated them with a commission of 50% each. I put through an order and the commissions were recorded correctly. I then marked them as paid and checked the postmeta for each of the commission records. In both cases the postmeta was marked as "unpaid" yet

[2017-04-30 00:36] davidsherlock opened #231 "eddc_user_commissions_overview hooks required"
Would it be possible to get hooks added to `eddc_user_commissions_overview`? I need to add a section for seller fees, etc.

[2017-05-01 13:51] davidsherlock opened #232 "Allow £0.00 commissions tooltip typo"
There is a typo within the tooltip for the above option.

Should be "them" instead of "theme".

[2017-05-01 14:01] davidsherlock opened #233 "Tax remittance calculation base addition"
There are business instances where the tax burden is shifted from the marketplace to the vendor, however there is currently no way to remit the 'whole' tax amount collected on the sale (the current methods will split the tax equally between site and vendor or retain it).

An additional calculation base option could be added to remit the full item tax amount along with the commission base amount.

[2017-05-04 20:56] SDavisMedia opened #234 "Accept commission rates below 1"
Right now, you can't have a commission rate value of less than `1`. This is part bug and part limitation.

The limitation is obvious... a commission rate might truly need to be `.9` on a percentage type commission. So we should adjust that.

The bug is...

* In the Commission metabox on download edit screens, a value like the above will not save. It'll actually change itself from `.9` to `90`. 😳
*

[2017-05-04 21:02] pippinsplugins commented on #234
@ghost1227 could you please look into fixing this?

[2017-05-05 17:10] ghost1227 commented on #234
O.o That's a fun one. On it!

[2017-05-05 17:46] ghost1227 commented on #234
@SDavisMedia all ready for testing!

[2017-05-05 19:47] SDavisMedia commented on #234
@ghost1227

**Good news:** all of the rate fields (metabox, user global, and default rate) are properly saving the entered value (example, `.9`) and the values are being used when they are supposed to be.

**Bad news:** the calculations are wrong. Default rate and user global are both expected to be percentages... as in `.9` is `0.9%` (not to be confused with `90%`. And of course, the same is true

[2017-05-06 16:35] SDavisMedia commented on #158
Can someone please team up directly with Jigar and make adjustments to either Commissions or [Points & Rewards](https://trello.com/c/OadCVXIj/380-edd-points-and-rewards) to address this issue? There's been a bit of dialogue about who should change what but it ends abruptly. Please, can someone focus on this issue?

[2017-05-07 21:41] pippinsplugins commented on #158
I'll try and look at it first thing this week.

On Sat, May 6, 2017 at 11:35 AM Sean Davis <notifications@github.com> wrote:

[2017-05-09 20:06] davidsherlock opened #236 "Admin table styling issues"
This is _somewhat_ linked to FES, but since the shortcodes are output by commissions it felt better suited to here. Within the FES vendor card view, the commissions tab shows the commissions data pretty much dumped on the page like this:

![screenshot 2017-05-09 21 03 42](https://cloud.githubusercontent.com/assets/22668877/25870192/206332b8-34fb-11e7-9594-f09b4a6510e9.png)

I feel this layout coul

[2017-05-10 17:18] pippinsplugins commented on #230
@davidsherlock the status isn't stored in post meta anymore and exists only for backwards compat. We don't set it any more, but we do filter `get_post_meta()` and `update_post_meta()` calls for it to re-route those to the taxonomy term that we use.

[2017-05-10 17:18] #230 closed

[2017-05-10 17:19] pippinsplugins commented on #231
We'll look at including some in 3.4.

[2017-05-10 17:22] pippinsplugins commented on #233
@davidsherlock could you please provide a concrete example of what you need to do?

[2017-05-10 17:37] pippinsplugins commented on #236
We can fix this for sure!

[2017-05-10 17:58] davidsherlock commented on #233
Apologies @pippinsplugins, I should have been clearer on this one.

Here is an example to better explain (assume tax is set exclusively and no coupon codes are used on the order):

Item price: £12
Tax (20%): £2.40
Total: £14.40

For simplification purposes, using the "total without taxes" base calculation setting at 50% commission rate would result in commission being recorded at £6 with the 2.40

[2017-05-15 17:23] davidsherlock opened #237 "Commission Notifications email additional shortcodes"
I run a 'pure' marketplace where the contract of sale is directly between the buyer and seller, due to this It would be great if some additional shortcodes were added to the "Commission Notifications" email as follows:

- {commission_id} - The ID of the commission
- {item_price} - The item "sale price".
- {item_tax} - The item tax collected.
- {discount_codes} - any discount codes _ONLY_ applied t

[2017-05-18 21:31] brashrebel opened #238 "Check needed to ensure amount key exists in _edd_commission_settings array"
Right [here](https://github.com/easydigitaldownloads/EDD-Commissions/blob/master/includes/commission-functions.php#L286) we're assuming the `amount` key exists in the `_edd_commissions_settings` array but it doesn't always. Specifically if a vendor adds a product, [only the `user_id` key is added](https://github.com/easydigitaldownloads/edd-fes/blob/master/classes/forms/submission.php#L153) to tha

[2017-05-19 11:37] brashrebel opened #239 "Possible issue with updating downloads with commissions enabled"
When commissions are enabled on a download, the only value which _needs_ to always exist in `_edd_commission_settings` meta field array is `user_id`. When an FES vendor adds a product, that _is_ the only value which gets added. However, that array gets two more values added (`type` and `amount`) when the download is added by an admin.

This is not a very obvious problem at this time because there

[2017-05-19 17:34] cklosowski opened #240 "Rounding needs to use edd_currency_decimal_filter() instead of 2"
Because we allow currencies and gateways to change the decimal accuracy, we need to use `edd_currency_decimal_filter` to determine the rounding accuracy.

[2017-05-25 21:01] mintplugins opened #243 "Recurring: Incorrect terminology in setting description"
An option that appears when EDD Recurring is enabled has an incorrect term. Commissions will not be automatically paid. Rather, they are simply "recorded". There isn't a system for automatically paying at this time (outside of Paypal Adaptive Payments - which is now essentially no-more)

<img width="1139" alt="screen shot 2017-05-25 at 4 58 57 pm" src="https://cloud.githubusercontent.com/assets/16

[2017-05-25 23:05] #243 closed

[2017-05-31 15:26] SDavisMedia opened #245 "Update POT file"
I know it's missing at least one string: https://github.com/easydigitaldownloads/EDD-Commissions/blob/0d28a39f97ad3ad5fd20a040008bc19a5fc06522/includes/admin/settings.php#L71

[2017-06-05 20:52] cklosowski commented on #134
@easydigitaldownloads/core-devs This is ready for initial testing of a *NEW* installation. It creates the table on activation, so if you've tested this before, you'll need to deactivate/reactivate since the schema changed slightly to fix a few shortcomings and bugs.

So far this is what's been completed:
- Updated all references to `get_posts` to use `eddc_get_commissions`
- Updated all calls to `

[2017-06-06 21:55] pippinsplugins commented on #134
@cklosowski this is working great so far!

One small issue I noticed: you cannot edit the amount of a commission. The amount can be changed from the view screen but the change does not save. The rate saves fine but not the amount.

[2017-06-06 21:59] pippinsplugins commented on #134
@cklosowski looks like batch export is broken now, primarily because of WP_DEBUG being enabled and deprecated notices being thrown.

Let's do two things:

1. Only trigger notices if not doing ajax
2. Update the batch export to not use deprecated methods :)

It also triggered this notice:

PHP Notice: Trying to get property of non-object in /app/public/wp-content/plugins/edd-commissions/includes/ad

[2017-06-06 22:02] davidsherlock commented on #134
Will give this a test run tomorrow and report back!

Regardless, nice work Chris - definitely a need migration!

Sent from my iPhone

[2017-06-07 16:13] cklosowski commented on #134
A migration routine will be added to this branch later, for now it's existing in `issue/134-migration`, so that I can keep fixing issues found in new installs, while still working on the migration. I'll merge that work into `issue/134` when it's ready.

[2017-06-07 16:23] pippinsplugins commented on #240
PR looks good to me.

[2017-06-07 16:24] sunnyratilal commented on #240
Testing and working as expected 👍

[2017-06-07 16:41] mintplugins commented on #134
Just a note - when I expired an All Access Pass that needed commissions I got this error:
[code]

Not sure if that's a problem with Commissions or All Access yet but digging in. Just wanted to log it.

[2017-06-07 16:44] mintplugins commented on #134
Actually I am getting that error upon every commission generation - even with All Access deactivated (so "normal" commissions).

No commissions seem to be getting generated at all for me.

[2017-06-07 16:49] pippinsplugins commented on #134
@mintplugins deactivate and reactivate Commissions. That will trigger the new table to be created.

[2017-06-07 17:54] #240 closed

[2017-06-07 18:06] mintplugins commented on #134
This is working great for me with the latest commits using custom commission meta as well.

Working great with All Access issue 115:
https://github.com/easydigitaldownloads/edd-all-access/issues/115

[2017-06-07 18:22] cklosowski commented on #238
@brashrebel try that out.

[2017-06-07 18:24] cklosowski commented on #239
Trying to imagine what this might look like. What if we simply had a checkbox for 'Use Global Settings' (and we can even echo those out), which disables the type and the amount boxes, but still allows adding users to it?

[2017-06-07 18:54] brashrebel commented on #239
Could also just convert the `type` field to a select with an empty value as a default so it doesn't get POSTed any time the download is updated. It only will if a selection is made in the field. The rate field should be good already...I think. It defaults to blank so it shouldn't set the meta value at all.

[2017-06-07 20:14] brashrebel commented on #238
Looks good to me. Just did some testing and no errors were observed.

[2017-06-07 23:41] cklosowski commented on #239
I prefer not to use blank inputs for selects, but we could just have a `Global` in the select, and that could be a value of `-1` or `0` that the saving routine just ignores.

[2017-06-09 19:47] cklosowski commented on #134
Ok the migration utility via WPCLI is ready for testing.

This currently moves all data over to the custom table, including all meta data that's not core data, and then also it will remove the data from `wp_posts` and `wp_postmeta` if you choose to (there is a prompt for a `y/n` response)

To run it, `wp edd-commissions migrate_commissions`. If you are running in a subsite you need to include `--u

[2017-06-13 00:03] cklosowski commented on #134
@pippinsplugins the Exporter and Payout Generator should be fixed now.

[2017-06-13 12:38] pippinsplugins commented on #134
@cklosowski PHP warning:

call_user_func_array() expects parameter 1 to be a valid callback, class 'EDDC' does not have a method 'eddc_add_fes_functionality'

[2017-06-13 12:40] pippinsplugins commented on #134
Looks like the migration worked! There is a PHP warning though after running it:

WordPress database error Column 'type' cannot be null for query INSERT INTO `wp_30_edd_commissions` (`user_id`, `amount`, `status`, `download_id`, `payment_id`, `cart_index`, `price_id`, `date_created`, `date_paid`, `type`, `rate`, `currency`) VALUES (46, 6, 'unpaid', 214, 440, 0, 0, '2017-06-13 12:38:52', '', NULL,

[2017-06-13 22:00] cklosowski commented on #231
Those look useful @davidsherlock

[2017-06-13 22:04] cklosowski commented on #101
Going to use the filter here to execute this, and then I'll make the filter trigger inside the `EDD Dev Tools` repo.

[2017-06-13 22:14] cklosowski commented on #158
This issue affects Discounts Pro as well, so either it's a fix in both Points & Rewards AND Discounts Pro (and anything else that uses fees), or we fix it within commissions directly.

[2017-06-13 22:32] #232 closed

[2017-06-13 22:33] #231 closed

[2017-06-13 22:34] #228 closed

[2017-06-14 03:07] mintplugins commented on #158
IMO I think it would make the most sense to do it in commissions. Not sure if related but even for payments where a normal EDD Discount code was used, the full commission is still being recorded for me.

[2017-06-14 03:09] cklosowski commented on #158
What is your setting for how it's calculated? If it's subtotal thats before discounts. If it's totally that is after discounts.

[2017-06-14 03:11] mintplugins commented on #158
@cklosowski Yeah I'm on subtotal - that makes sense. Thanks.